article {
	&.img-idp-holder{
		//z-index:4;
	}
 	&.banner-wrapper, &.banner-ads {
		@include fill-parent;
		height:auto;
		position:relative;

		img {
			@include fill-parent;
			height:100%;
		}
	}
}
 