// Start Change
// We should be using the @include fill-parent; function in neat for elements that are 100%
article {
 	&.banner-wrapper, &.banner-ads {
		width:100%;
		height:auto;
		text-align:center;

		img {
			width:100%;	height:100%;
		}
	}
}
// End Changes