article {
 	&.banner-wrapper, &.banner-ads {
		@include fill-parent;
		height:auto;
		position:relative;
		top:70px;

		img {
			@include fill-parent;
			height:100%;
			margin-bottom:-6px;
		}
	}
	&.video {
		@include fill-parent;
		position: relative;
		z-index: 1;
		min-width: 100%;
		height: auto;
		top:70px;
	}
}
 