body {
	margin:0px;
	padding:0px;

	#bodyWrapper {
		position:relative;
		overflow:hidden;

		section{
			@include span-columns(12);
			background:$white;
			position:relative;
		}
	}
	@include media($twig) {
		font-size: 110%;
	}
	@include media($leaf) {
		font-size: 95%;
	}
	@include media($seed) {
		font-size: 85%;
	}

	.ct-title{
		border-bottom:3px solid $black;
		margin:0px auto 30px;
		padding:50px 40px 10px;
		text-transform: uppercase;
		
		@include media($twig) {
			width:800px;
		}
		@include media($leaf) {
			width:600px;
		}
		@include media($seed) {
			width:340px;
		}
	}
	section {
	z-index:2;
		article {
			margin:0px;
			padding:0px;

			@media screen and (max-width: 320px){
		
				ul.breadcrumb{
					display:none;
				}
			}

			&.mid-content-holder {
				clear:both;
				margin:0px auto !important;

				@include media($twig) {
					width:800px;
				}
				@include media($leaf) {
					width:600px;
				}
				@include media($seed) {
					width:340px;
				}
			
				h2 {
					&.title {
						@extend .ct-title;
					}
					
				}	
			}
		}
	}
}
