body {
	margin:0px;
	padding:0px;

	#bodyWrapper {
		position:relative;
		overflow:hidden;

		section{
			@include span-columns(12);
			background:$white;
			position:relative;
		}

		code{
			&.default-rating{
				color:#cccccc;
				cursor:pointer;
			}
			&.review-selected{
				color:$black !important;
				cursor:pointer;
			}
		}
	}

	// Desktop size 
	@include media($twig) {
		font-size: 110%;
	}
	// Tablet size 
	@include media($leaf) {
		font-size: 95%;
	}
	// Mobile size 
	@include media($seed) {
		font-size: 85%;
	}

	.ct-title{
		border-bottom:3px solid $black;
		margin:0px auto 30px;
		padding:50px 40px 10px;
		text-transform: uppercase;

		@include media($twig) {
			width:800px;
		}

		@include media($leaf) {
			width:600px;
		}

		@include media($seed) {
			width:340px;
		}
	}
	
	section {
		z-index:2;
		article {
		margin:0px;
		padding:0px;

		@include media($seed) {

			ul.breadcrumb{
				display:none;
		}
	}

	&.mid-content-holder {
		clear:both;
		margin:0px auto !important;
		background-color:$white;
		z-index:-1;
		position:relative;
		top:70px;

		@include media($twig) {
			width:800px;
		}

		@include media($leaf) {
			width:600px;
		}

		@include media($seed) {
			width:100%;
			padding:0px 20px;
		}

		@include media($small-tab) {
			width:380px;
		}

		h2 {
			&.title {
				@extend .ct-title;

				@include media($seed) {
					width:100%;
				}
				@include media($small-tab) {
					width:380px;
				}
			}
		}

		.footer-text{
			color:#f2f2f2;
			text-transform:uppercase;
			text-align:center;
			padding:20px 45px 50px;
			font-style:italic;
		}	
	}



	&.filter-wrapper {
		background:$white;
		position:fixed;

			.filter-holder {
				position:relative;

				.dropdown-holder {
				margin: 0;
				padding: 0;
				background:$white;
				list-style-type: none;
					>li {

						@include media($twig) {
							@include span-columns(3);
							@include omega(n);
							width:24.999%;
							margin:0px;
							body { font-size: 150%; }
						}

						@include media($leaf) {
							@include span-columns(3);
							@include omega();
							width:24.999%;
							body { font-size: 125%; }
						}

						@include media($seed) {
							@include span-columns(12);
							body { font-size: 99%; }
						}
					}
				}
			}
		}
	}
}

.streetcred-wrapper{
	text-transform:uppercase;
	background-color:$black;
	text-align:center;
	color:$white;
	padding:15px 0px 60px;
	position:relative;
	font-style:italic;
	top:70px;

	@include media($leaf) {
		padding:15px 0px 10px;
	}

	@include media($seed) {
		padding:15px 0px 0px;
	}

	h1{
		padding:0px;
		margin:0;
	}
	h4{
		padding:0px;
		margin:-8px 0px 0px;
	}
	ul{
		margin:20px 0px 0px;
		padding:0px;
		list-style-type:none;
		text-align:left;
			li{
				display:inline-block;
				margin:3px 3px 0px;

				img{
					width:119px;

					@include media($leaf) {
						width:122px;
					}

					@include media($seed) {
						width:100px;
					}

					@include media($small-tab) {
						width:113px;
					}

					@include media($tab) {
						width:113px;
					}
				}
				b{
					padding:50px 26px;
					cursor:pointer;
					font-style:italic;
					position:absolute;
					margin:-119px 0px 0px;
				}
				&.last{
					@include media($seed) {
						clear:both;
						width:100%;
					}
				}
			}
		}
	}
}
