section {
	&.push-none{
		left:0px;
		right:0px;
	}
	&.push-rt {
		left:260px;
	}
	&.push-lt {
		left:-260px;
	}
	header {
		@include fill-parent;
		overflow:hidden;
		padding:8px 15px;
		.menu {
			margin:0px;
			padding:0px;
			list-style-type:none;
			li {
				@include span-columns(2);
				padding:8px 0px 0px;
				font-weight:600;
				a {
					text-align:left;
					cursor:pointer;
					text-transform:uppercase;


				   }
				&.main-nav{

					a {
						margin-top: -26px;
						margin-left: 35px;
						display: block;
						@include media($seed) {
							display:none;
						}
					}
					
				}
				&.rt-nav{
					text-align:right;
					a {
						margin-right:8px;
						@include media($seed) {
							display:none;
						}
					}
					
				}
				&.mid-nav {
					@include span-columns(8);
					text-align:center;
					padding:0px;
				}
				span{
						border:3px solid $black;
						padding:0px 5px;
						border-width: 0px 4px 4px;
					}
			}
		}
	}
	article {
		&.header-subnav{
			background:$black;
			color:$white;
 			text-align:center;
 			padding:30px 0px;
			nav {
				width:47%;
				text-align:center;
 				margin:30px auto;
				a {
					&:after {
						content: " / ";
					}
					&:lastchild:after {
						content: " ";
					}
				}
			}
		}
	}
}