section {
	&.push-none{
		left:0px;
		right:0px;
	}
	&.push-rt {
		left:300px;
	}
	&.push-lt {
		left:-300px;
	}
	header {
		// Start Changes
		// We should be using the fill-parent function in neat for elements that are 100%
		// http://neat.bourbon.io/docs/#fill-parent
		width:100%;
		// End Changes

		overflow:auto;
		.menu {
			margin:0px;		padding:0px;
			list-style-type:none;
			li {
				@include span-columns(2);
				a {
					text-align:left;
					padding:5px;
					cursor:pointer;
				   }
				&.rt-nav{
					text-align:right;
				}

				&.mid-nav {
					@include span-columns(8);
					text-align:center;

					// Start Changes
					// All font sizes,line heights, style should be in a typography file, not mixed throughout.
					font-size:2.188em;
					// End Changes

				}
			}
		}
	}
	article {

		&.header-subnav{
			background:$black;
			color:$white;
 			text-align:center;
 			padding:30px 0px;
			menu {
				width:47%;
				text-align:center;
 				margin:30px auto;
				// Start Changes
				// All font sizes,line heights, style should be in a typography file, not mixed throughout.
				text-transform:uppercase;
				font-weight:bold;
				font-size: $base-font-size;
				line-height:36px;
				// End Changes

				a {
					// Start Changes
					// All font sizes,line heights, style should be in a typography file, not mixed throughout.
					color:$white;
					// End Changes

				&.active {
					// Start Changes
					// All font sizes,line heights, style should be in a typography file, not mixed throughout.
					color:$red;
					// End Changes

					}
				}
			}
		}
	}
}