article {
	
	&.img-idp-holder{
		button{
			code{
				margin: 5px 5px 0px;
				display: inline-table;
			}
		}
		&:hover{
			.sorting-wrapper{
				//z-index:1;
			}
		}

		.sorting-wrapper {
			@include fill-parent;
			display:inline-block;
			height:74px;
			//z-index:-1;


			@include media($twig) {
				position:absolute;
				bottom:20px;
				left:20px;
				right:20px;

			}
			@include media($leaf) {
				display:block;
				background:$white;
			}
			@include media($seed) {
				display:block;
				background:$white;
			}

			.dropdown-holder {
				@include span-columns(10);
				@include omega(0);
				margin:0px;

				@include media($twig) {
					height:78px;

				}
			}
			button {
				@include span-columns(2);
				@include omega(0);
				margin:0px;

			}
			div{
				&.mCSB_container{
				z-index:9 !important;
				}
			}

		}

	}
  	&.fullsize {
  		@extend .banner-wrapper;

  		ul {

			&.img-idp {
				margin:0px;
				padding:0px;
				list-style-type:none;
				//@include outer-container;
				text-transform:uppercase;

				li {
					@include fill-parent;
					position:relative;
					display:block;
					span {
						position:absolute;
						//z-index:10;
						margin:20px;
						cursor:pointer;
						text-align:center;
						&.info {
							top:0px;
							left:0px;
							padding:4px;
							z-index:1;
							@include media($seed) {
								bottom:0px;
								top:inherit;
							}
							code{
								display:block;
							}
							&.hit{
								border:3px solid $black;
							}
						}
						&.title {
							top: 15px;
							left: 0px;
							width: 100%;
							margin: 0px;
							z-index:0;
							cursor:default;
							i{
								display:block;
							}
						}
						&.like{
							top:0px;
							right:0px;
							padding:4px 12px;
							z-index:1;

							@include media($seed) {
								bottom:0px;
								top:inherit;
							}
							code{
								display:block;
							}
							&.hit{
								border:3px solid $black;

							}
						}
						
					}
					
					// Start Changes
				}
				// End Changes
			}
		}


  	}
  	&.streetcred-wrapper{
	  	text-transform:uppercase;
	  	background-color:$black;
	  	text-align:center;
	  	color:$white;
	  	padding:15px 0px 40px;
	  	position:relative;
	  	//z-index:3;
  		ul{
  			margin:0px;
			padding:0px;
			list-style-type:none;
			li{
				float:left;
				margin:3px 3px 0px;
				img{
					width:120px;

					@include media($seed) {
						width:100px;
					}
				}
				b{
					padding:45px;
					display:inherit;
					cursor:pointer;
				}
				&.last{
					@include media($seed) {
						clear:both;
						width:100%;
					}
					
				}
			}

			
  		}
  	}
  	&.idp_review{
  		text-transform:uppercase;
  		ul{
  			padding:0px;
  			list-style-type:none;
  			li{
  				padding:17px 40px;
					@include media($seed) {
						padding:20px;
						text-align:center;
					}

  				&.review_textbox{ 
  					text-align:center;
  					position:relative;
						div{
							font-size: 10px;
							top:50px;
							right:180px;
						    position: absolute;
	  						@include media($seed) {
	  							margin: -58px 12px 80px 10px;
								float: none;
							}

					}
  				}
  				input{
  					width:590px;
  					padding:20px 170px 20px 15px;
  					margin:10px 10px 25px 0px;
						@include media($seed) {
							width:100%;
							padding-bottom:80px;
						}
  				}
  				button{
  					@include media($seed) {
						width:80%;
					}
  				}
  				i{
  					font-size:89px;
  					color:#f2f2f2;
  					font-weight:bold;
  					text-align:center;
  				}
  				img{
	  				float:left;
	  				padding-right:20px;
					@include media($seed) {
						float:none;
						padding:0px;
					}
  				}
  				h3{
  					padding-left:0px;
  					line-height:23px;
  				}
  				small{ 
  					float:left;
  					@include media($seed) {
						float:none;
					}
  				}
  			}
  			div{
  				float:left;
  				&.idp_review_content{
  					width:600px;
					@include media($seed) {
						width:280px;
						float:none;
						text-align:center;
					}
  				}
  			&.idp_ratting_top{
				display:none;
				@include media($seed) {
						display:block;
						float:none !important;
					}
					code{
						font-size:15px;
					}
			}
			&.idp_ratting_btm{
				
				margin:-1px 0 0 12px;
				@include media($seed) {
						display:none
					}
					code{
						font-size:15px;
					}
			}
  			 &.clear_both{
  			 	clear: both;
  			 	float:none;
  			 }
  			}
  		}

  	}
  	&.info_description{
  		background-color:$black;
  		color:$white;
  		position:absolute;
  		//z-index:3;
  		left:0px;
  		width:70%;
  		padding:40px 20px 40px 0px;

  		@include media($seed) {
			position:fixed;
			z-index:2;
			width:100%;
			top:0px;
			display:none;
		}

  		code{
  			right: 20px;
			position: absolute;
			top: 20px;
			color: #333333;
			cursor:pointer;
  		}
  		div{
  			&.desc_wrapper{
  				padding-bottom:100px;
  			}
  		}

  	}
  	&.like_description{
  		background-color:$black;
  		color:$white;
  		position:absolute;
  		//z-index:3;
  		right:0px;
  		width:30%;
  		text-align:center;
  		@include media($seed) {
			position:fixed;
			z-index:2;
			width:100%;
			top:0px;
			height:100% !important;
		}
  		h2{
  			padding:30px 0px;
  			text-transform:uppercase;

  			@include media($seed) {
				display:block;
				background-color:$white;
				color:$black;
				text-align:left;
  				padding-left:30px;
			}
  			code{
  				&.icon-icons-remove{
  					display:none;
  					position: absolute;
					right: 10px;
					top: 30px;
					cursor:pointer;

  					@include media($seed) {
						display:block;

					}
  				}
  				&.icon-icons-heart{
  					color:#f2646d;
  				}
  			}
  		}
  		ul{
  			list-style-type:none;
  			margin:0px;
  			padding:0px;
  			@include span-columns(12);

  			@include media($seed) {
				margin-left:-2px;
			}

  			li{ 
  				@include span-columns(6);
  				@include omega(0n);
  				line-height:250px;
  				height:200px;
  				background-color:$black;
  				border:3px solid #3c3c3c;
  				border-width:3px 1px 0px 2px;
  				margin:0px;
  				Width:50%;
  				&.bottom_line{
  					border-width:3px 1px 3px 2px;
  				}
  				
  			}
  		}
  	}
  	&.push-rt {
		left:70%;
		position:relative;
	}
	&.push-lt {
		right:30%;
		position:relative;
	}
}  
		