aside{
	position:absolute;
	z-index:-1;
	left:0px;
	background:$black;
	width:320px;
	height:100%;

	// Start Changes
	&.rt-side {
		left:inherit;
		right:-15px;
		width:30
		0px; // Not sure what this is
		z-index:-2;
		// End Changes
	}
	nav {
		a {
			display:block;
			padding:3px 0px 3px 30px;
			// Start Changes
			// All font sizes,line heights, style should be in a typography file, not mixed throughout.
			color:$white;
			text-decoration:none;
			text-transform:uppercase;
			font-size:1em;
			// End Changes
		}
	}
}