aside{
	position:absolute;
	z-index:-1;
	left:0px;
	background:$black;
	width:320px;
	height:100%;

 	&.rt-side {
		left:inherit;
		right:-15px;
		width:300px;
 		z-index:-2;
 	}
	nav {
		a {
			display:block;
			padding:3px 0px 3px 30px;
		}
	}
}