aside{
	//position:absolute;
	position:fixed;
	z-index:1;
	left:0px;
	background:$black;
	width:265px;
	height:100%;

	.scroller {
		height:100%;
		padding-bottom:50px;
	}

 	&.rt-side {
		left:inherit;
		right:0px;
		width:265px;
 		z-index:1;
 		nav{
 			color:$white;
 			small{ 
 				display:block;
 				padding:3px 0px;
 			}
 			

 		}
 		code{
 			&.icon-icons-remove{
 				position: absolute;
				right: 12px;
				top: 12px;
				border: 3px solid black;
				line-height: 20px;
				color:$black;
 			}
 		}
 	}
 	&.lt-side{
 		code{
 			color:$white;
 			position:absolute;
 			margin:20px 5px 0px;
 		}
 		
 		input[type="text"]{
 			margin:0px;
 			color:$white;
 			border:0px;
 			width:265px;
 			background-color:#262626;
 			padding-left:40px;
 		}
 	}
	nav {
		border-bottom:2px solid #cccccc;
		padding:15px 0px;
		margin:0px 15px;
		
		&.active{
			a{
				color:$white;
			}
		}
		a {
			display:block;
			padding:5px 0px 5px 25px;
			font-weight:bold;
			color:#262626;
		}
	}
}

nav{
	&.cart_holder{
	padding:15px;
	baclground-color:$black;
	color:$white;
	position:fixed;
	z-index:1;
	right:0px;
	bottom:0px;
	width:265px;
		small{
			float:left;
			&.last_subtotal{
				float:right;
			}
		}
	}
}

