ul {

	&.img-rack {
		margin:0px;
		padding:0px;
		list-style-type:none;
		@include outer-container;

		li {
			margin-bottom:6px;
			margin-right:10px;
			a {
				@include fill-parent;
				position:relative;
				display:block;
				z-index:1;
				span {
					position:absolute;
					z-index:10;
					margin:10px;
					text-transform:uppercase;
					&.new {
						top:0px;
						left:0px;
					}
					&.name {
						bottom:0px;
						left:0px;
						font-weight:bold;
					}
					&.price{
						right:0px;
						bottom:0px;
					}
					&.like{
						top:0px;
						right:0px;
					}
					
				}
			}
			// Start Changes
			
			@include media($twig) {
				
				@include span-columns(4);
				@include omega(0);
				margin-right:10px;
				width:32.5255%;
				// All font sizes,line heights, style should be in a typography file, not mixed throughout.
				body { font-size: 150%; }
			}
			@include media($leaf) {
				@include span-columns(6);
				@include omega(2n);
				// All font sizes,line heights, style should be in a typography file, not mixed throughout.
				body { font-size: 125%; }
			}
			@include media($seed) {
				@include span-columns(12);
				// All font sizes,line heights, style should be in a typography file, not mixed throughout.
				body { font-size: 99%; }
			}
		}
		// End Changes
	}
}
.shoe-grid-wrapper{
	position:relative;
	top:70px;
	padding:10px 0px 0px 10px;
	h1{
		padding:60px 0px;
		text-transform:uppercase;
		text-align:center;
		font-style: italic;
		font-weight:bold;
	}
}
.category-shoe-grid-wrapper{
	top:147px;
	position:relative;
	background:$white;
	z-index:-1;
	margin-bottom:70px;
}