button {
	padding:22px 30px;
	border:0px;
	margin:10px;
	background:$black;
	
	&.sm-btn {
		padding:18px;
	}
	&.fl-btn{
		width:99%;
		padding:30px 0px;
	}
	&:hover{
		background:$red;
	}
	&.cancel-btn{
		background:none;
		&:hover {
			background:none;
		}
	}

}

