
label {
	display:block;
	
	&.lblr {
	  float: left;
	  display:inline-block;
	  width: 214px;
	}
}
input[type="text"], input[type="password"] {
	border:3px solid $gray;
  padding:20px 0px 20px 15px;
  margin:10px 0px 25px;
	&.error-field {
		border:2px solid $red;
		background:$light-red;
	}
	&:disabled {
		background:$light-gray;
		color:$dark-gray;
	}
}
p {
	&.error-text {
    margin:0px;
    padding:0px;
	}
}
/*
.custom-form-select {
  background: url(../../images/form_image.png) no-repeat scroll right -196px transparent;
  overflow: hidden;
  padding: 32px 24px 26px 15px;
  position: absolute;
  width: 210px;
  border: 3px solid #000000;
  color: #000000;
  font: bold 12px / 35px Helvetica, Arial, sans-serif;
  font-size: 13px;
  line-height: 0px;
  text-transform: uppercase;
}
*/
.custom-form-focused {
  background-position: right -196px;
}

.custom-form-checkbox {
  float: left;
  display: block;
  width: 30px;
  height: 30px;
  margin-right: 10px;
  background: url(../../images/form_image.png) no-repeat scroll 0px 0px transparent;
  &.custom-form-focused {
    background-position: 0px 0px;
  }
  &.custom-form-checked {
    background-position: 0px -46px;
    &.custom-form-focused {
      background-position: 0px -46px;
    }
  }
}

.custom-form-radio {
  background: url(../../images/form_image.png) no-repeat scroll 0 -90px transparent;
  display: block;
  float: left;
  height: 30px;
  margin-right: 10px;
  width: 30px;
  &.custom-form-focused {
    background-position: 0px -90px;
  }
  &.custom-form-checked {
    background-position: 0px -136px;
    &.custom-form-focused {
      background-position: 0px -136px;
    }
  }
}


/* custom-dropdown */

.dropdown-holder {
	margin: 0;
	padding: 0;
	background:$white;
	list-style-type: none;
	>li {
		@include media($twig) {
			@include span-columns(4);
			@include omega(n);
			width:33.333%;
			margin:0px;
			body { font-size: 150%; }
		}
		@include media($leaf) {
			@include span-columns(4);
			@include omega();
			body { font-size: 125%; }
		}
		@include media($seed) {
			@include span-columns(12);
			body { font-size: 99%; }

		}

	}
}

div.selectBox {
  position: relative;
  display: inline-block;
  text-align: left;
  clear: both;
  cursor: pointer;
  border: 3px solid $black;
  width:100%;
  &.rm_rt_br{
  	@include media($twig) {
  		border-right:0px;
  	}
  	@include media($leaf) {
  		border-right:0px;
  	}
  	@include media($seed) {
  		border-right:3px solid $black;
  	}
  }
  span {
    width: 90%;
    border-right: none;
    overflow: hidden;
    padding: 18px 0px 21px 20px;
    height: 72px;
    position: relative;
    float: left;
    z-index: 1;
    line-height:40px;
    img{
    	width:30px;
    	height:30px;
    	margin-top:4px;
    }
    b {
    	margin:-5px 0px 0px;
    	padding:0px;
    	position:relative;
    	top:-2px;
    }
  }

  code {
	  background: url(../../images/form_image.png) no-repeat scroll 5px -188px;
	  border-width: 3px 3px 3px 0;
	  padding: 36px 27px;
	  text-align: center;
	  *padding-top: 6px;
	  position: absolute;
	  right:0px;
	  z-index: 1;
	} 
	
	.selectOptions {
	  position: absolute;
	  top: 72px;
	  left: -3px;
	  border: 3px solid $black;
	  width:101%;
	  height: 180px;
	  background-color: $white;
	  z-index: -1;
	  margin:0px;
	  padding:5px 0px;
	  
	  ul {
	  	list-style: none outside none;
	  	margin: 0;
	  	padding: 0px;
	  	
	  	li {
			clear:both;
		    padding: 7px 5px 7px 20px;
		    overflow: hidden;
		    &:hover {
		      background: #f5f5f5;
		      }
	  	}
	  	&.img-list {
	  		li {
	  			position:relative;

	  			img {
	  				position:absolute;
	  				top:5px;
	  				width:30px;
	  				height:30px;
	  			}
	  			b {
	  				display:block;
	  				line-height:22px;
	  				padding:2px 0px 0px 40px;
	  			}
	  		}
	  	}
	  
	  }
	}
}
  
/* fix select height bug on webkit browsers for Mac OS */
@media screen and (-webkit-min-device-pixel-ratio: 0) {
  select.cform {
    -webkit-appearance: menulist-button;
  }
}