* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

body {
  color: black;
  font-family: "effra", sans-serif;
  font-size: 1.25em;
  -webkit-font-smoothing: antialiased; }

h1, h2, h3, h4, h5, h6 {
  font-family: "effra", sans-serif;
  line-height: 1.5em;
  margin: 0;
  text-rendering: optimizeLegibility;
  padding-left: 40px; }

h1 {
  font-size: 3.125em; }

h2 {
  font-size: 1.875em; }

h3 {
  font-size: 1.25em;
  text-transform: uppercase; }
  h3.light {
    font-weight: 300; }
  h3.regular {
    font-weight: 400; }
  h3.medium {
    font-weight: 500; }
  h3.bold {
    font-weight: 700; }
  h3.heavy {
    font-weight: 900; }

h4 {
  font-size: 1em; }

h5 {
  font-size: 0.875em; }

h6 {
  font-size: 1.25em; }

p {
  margin: 0 0 1.40625em;
  font-size: 1.125em;
  padding: 0px 40px; }
  p.lead-in {
    font-size: 1.875em; }
  p.error-text {
    font-size: 0.75em;
    color: #f2646d;
    font-weight: bold;
    font-style: italic;
    text-transform: uppercase; }

a {
  color: black;
  text-decoration: none;
  -webkit-transition: color 0.1s linear;
  -moz-transition: color 0.1s linear;
  transition: color 0.1s linear; }
  a:hover {
    color: #f2646d; }
  a:active, a:focus {
    color: #f2646d;
    outline: none; }

hr {
  border-bottom: 1px solid #cccccc;
  border-left: none;
  border-right: none;
  border-top: none;
  margin: 1.875em 0; }

img {
  margin: 0;
  max-width: 100%; }

abbr, acronym {
  border-bottom: 1px dotted #cccccc;
  cursor: help; }

address {
  display: block;
  margin: 0 0 0.9375em; }

hgroup {
  margin-bottom: 0.9375em; }

del {
  color: #262626; }

blockquote {
  font-size: 1.875em;
  border-left: 2px solid black;
  color: black;
  margin: 1.875em 0;
  padding: 0px 0.9375em;
  margin-left: 40px;
  font-style: italic; }

cite {
  color: #404040;
  font-style: italic; }
  cite:before {
    content: '\2014 \00A0'; }

button {
  color: white;
  font-size: 1.25em;
  text-transform: uppercase !important;
  font-weight: 400;
  font-style: italic; }
  button.lr-btn {
    font-size: 1.875em; }
  button.sm-btn {
    font-size: 1em; }
  button.cancel-btn {
    color: black; }
    button.cancel-btn:hover {
      color: #cccccc; }

label {
  font-size: 1em;
  text-transform: uppercase;
  font-weight: bold;
  font-style: italic; }
  label.lblr {
    line-height: 2.06em;
    font-weight: normal; }

input[type="text"], input[type="password"] {
  font-size: 1em;
  font-weight: bold; }

div.selectBox {
  font-size: 1.1em;
  font-weight: bold;
  color: black;
  text-transform: uppercase; }
  div.selectBox span {
    line-height: 35px; }
  div.selectBox code {
    font-size: 1.25em; }
  div.selectBox .selectOptions {
    font-size: 0.75em; }

dl {
  line-height: 1.875em; }
  dl dt {
    font-weight: bold; }

ul.breadcrumb {
  text-transform: uppercase;
  font-size: 1.1em; }

.pagination {
  font-size: 1.875em;
  font-weight: bold; }

.error, .success {
  text-transform: uppercase;
  font-style: italic; }

.mid-nav {
  font-size: 2.188em; }

.header-subnav nav {
  text-transform: uppercase;
  font-weight: bold;
  font-size: 1.25em;
  line-height: 36px; }
  .header-subnav nav a {
    color: white; }
    .header-subnav nav a.active {
      color: #f2646d; }

aside nav a {
  color: white;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 1em; }

label {
  display: block; }
  label.lblr {
    float: left;
    display: inline-block;
    width: 214px; }

input[type="text"], input[type="password"] {
  border: 3px solid #cccccc;
  padding: 20px 0px 20px 15px;
  margin: 10px 0px 25px; }
  input[type="text"].error-field, input[type="password"].error-field {
    border: 2px solid #f2646d;
    background: #feeff0; }
  input[type="text"]:disabled, input[type="password"]:disabled {
    background: #e6e6e6;
    color: gray; }

p.error-text {
  margin: 0px;
  padding: 0px; }

/*
.custom-form-select {
  background: url(../../images/form_image.png) no-repeat scroll right -196px transparent;
  overflow: hidden;
  padding: 32px 24px 26px 15px;
  position: absolute;
  width: 210px;
  border: 3px solid #000000;
  color: #000000;
  font: bold 12px / 35px Helvetica, Arial, sans-serif;
  font-size: 13px;
  line-height: 0px;
  text-transform: uppercase;
}
*/
.custom-form-focused {
  background-position: right -196px; }

.custom-form-checkbox {
  float: left;
  display: block;
  width: 30px;
  height: 30px;
  margin-right: 10px;
  background: url(../../images/form_image.png) no-repeat scroll 0px 0px transparent; }
  .custom-form-checkbox.custom-form-focused {
    background-position: 0px 0px; }
  .custom-form-checkbox.custom-form-checked {
    background-position: 0px -46px; }
    .custom-form-checkbox.custom-form-checked.custom-form-focused {
      background-position: 0px -46px; }

.custom-form-radio {
  background: url(../../images/form_image.png) no-repeat scroll 0 -90px transparent;
  display: block;
  float: left;
  height: 30px;
  margin-right: 10px;
  width: 30px; }
  .custom-form-radio.custom-form-focused {
    background-position: 0px -90px; }
  .custom-form-radio.custom-form-checked {
    background-position: 0px -136px; }
    .custom-form-radio.custom-form-checked.custom-form-focused {
      background-position: 0px -136px; }

/* custom-dropdown */
.dropdown-holder {
  margin: 0;
  padding: 0;
  background: white;
  list-style-type: none; }
  @media screen and (min-width: 1024px) {
    .dropdown-holder > li {
      display: block;
      float: left;
      margin-right: 2.35765%;
      width: 31.76157%;
      width: 33.333%;
      margin: 0px; }
      .dropdown-holder > li:last-child {
        margin-right: 0; }
      .dropdown-holder > li:nth-child(n) {
        margin-right: 0; }
      .dropdown-holder > li body {
        font-size: 150%; } }
  @media screen and (min-width: 480px) and (max-width: 1024px) {
    .dropdown-holder > li {
      display: block;
      float: left;
      margin-right: 2.35765%;
      width: 31.76157%;
      margin-right: 0; }
      .dropdown-holder > li:last-child {
        margin-right: 0; }
      .dropdown-holder > li body {
        font-size: 125%; } }
  @media screen and (min-width: 320px) and (max-width: 480px) {
    .dropdown-holder > li {
      display: block;
      float: left;
      margin-right: 2.35765%;
      width: 100%; }
      .dropdown-holder > li:last-child {
        margin-right: 0; }
      .dropdown-holder > li body {
        font-size: 99%; } }

div.selectBox {
  position: relative;
  display: inline-block;
  text-align: left;
  clear: both;
  cursor: pointer;
  border: 3px solid black;
  width: 100%; }
  @media screen and (min-width: 1024px) {
    div.selectBox.rm_rt_br {
      border-right: 0px; } }
  @media screen and (min-width: 480px) and (max-width: 1024px) {
    div.selectBox.rm_rt_br {
      border-right: 0px; } }
  @media screen and (min-width: 320px) and (max-width: 480px) {
    div.selectBox.rm_rt_br {
      border-right: 3px solid black; } }
  div.selectBox span {
    width: 90%;
    border-right: none;
    overflow: hidden;
    padding: 18px 0px 21px 20px;
    height: 72px;
    position: relative;
    float: left;
    z-index: 1;
    line-height: 40px; }
    div.selectBox span img {
      width: 30px;
      height: 30px;
      margin-top: 4px; }
    div.selectBox span b {
      margin: -5px 0px 0px;
      padding: 0px;
      position: relative;
      top: -2px; }
  div.selectBox code {
    background: url(../../images/form_image.png) no-repeat scroll 5px -188px;
    border-width: 3px 3px 3px 0;
    padding: 36px 27px;
    text-align: center;
    *padding-top: 6px;
    position: absolute;
    right: 0px;
    z-index: 1; }
  div.selectBox .selectOptions {
    position: absolute;
    top: 72px;
    left: -3px;
    border: 3px solid black;
    width: 101%;
    height: 180px;
    background-color: white;
    display: none;
    margin: 0px;
    padding: 5px 0px;
    z-index: 9; }
    div.selectBox .selectOptions ul {
      list-style: none outside none;
      margin: 0;
      padding: 0px; }
      div.selectBox .selectOptions ul li {
        clear: both;
        padding: 7px 5px 7px 20px;
        overflow: hidden; }
        div.selectBox .selectOptions ul li:hover {
          background: #f5f5f5; }
      div.selectBox .selectOptions ul.img-list li {
        position: relative; }
        div.selectBox .selectOptions ul.img-list li img {
          position: absolute;
          top: 5px;
          width: 30px;
          height: 30px; }
        div.selectBox .selectOptions ul.img-list li b {
          display: block;
          line-height: 22px;
          padding: 2px 0px 0px 40px; }

/* fix select height bug on webkit browsers for Mac OS */
@media screen and (-webkit-min-device-pixel-ratio: 0) {
  select.cform {
    -webkit-appearance: menulist-button; } }
table {
  margin: 0.9375em 0;
  width: 100%; }
  table tr {
    vertical-align: middle; }
    table tr th {
      border-bottom: 3px solid black;
      font-weight: bold;
      padding: 0.9375em 15px;
      text-align: left; }
    table tr td {
      border-bottom: 2px solid #cccccc;
      padding: 0.9375em 15px; }
    table tr.odd {
      background: #e6e6e6; }
    table tr.odd td, table tr.even td {
      border-bottom: 0px; }
    table tr.horz td {
      border-left: 2px solid #cccccc; }

ul.form-field-holder, ol.form-field-holder {
  margin: 0px 0px 0px 40px;
  padding: 0px;
  list-style-type: none; }
ul.stacked-li li, ol.stacked-li li {
  display: block;
  clear: both;
  padding: 10px 0px; }
ul.inline-li li, ol.inline-li li {
  float: left;
  margin-right: 20px; }
  ul.inline-li li button, ol.inline-li li button {
    margin: 10px 0px 0px; }
ul li.empty-type, ol li.empty-type {
  list-style-type: none; }

dl {
  margin-bottom: 0.9375em; }
  dl dt {
    margin-top: 0.9375em; }
  dl dd {
    margin: 0; }

button {
  padding: 22px 30px;
  border: 0px;
  margin: 10px;
  background: black; }
  button.sm-btn {
    padding: 18px; }
  button.fl-btn {
    width: 99%;
    padding: 30px 0px; }
  button:hover, button.btn-hover {
    background: #f2646d; }
  button.cancel-btn {
    background: none; }
    button.cancel-btn:hover {
      background: none; }

ul.breadcrumb {
  margin: 0px 0px;
  padding: 7px 0px;
  list-style-type: none;
  border: 3px solid black;
  border-width: 3px 0px;
  position: absolute;
  z-index: 1;
  width: 100%; }
  ul.breadcrumb li {
    padding: 8px 20px;
    display: inline-block;
    border-left: 3px solid black; }
    ul.breadcrumb li:first-child {
      border-left: 0px; }
    ul.breadcrumb li a {
      text-decoration: none; }

.pagination {
  float: left;
  position: relative;
  left: 50%;
  padding-top: 10px; }
  .pagination nav {
    float: left;
    position: relative;
    left: -50%; }
    .pagination nav a {
      padding: 8px 15px;
      display: inline-block;
      border-left: 2px solid black; }
      .pagination nav a:first-child {
        border-left: 0px; }

nav.nav-progress a {
  text-decoration: none;
  padding: 8px 25px;
  display: inline-block;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 1.875em; }
  nav.nav-progress a.active {
    color: #f2646d;
    text-decoration: underline; }

div.error, div.success {
  background: #feeff0;
  border: 2px solid #f2646d;
  color: #f2646d;
  padding: 25px 20px;
  margin: 20px 40px; }
  div.error h3, div.success h3 {
    padding: 0px 0px 8px; }
  div.error h4, div.success h4 {
    margin: 0px;
    padding: 0px 0px 3px; }
div.success {
  background: #eefcf1;
  border: 2px solid #56de79;
  color: #56de79;
  padding: 15px 20px 5px; }

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
nav,
section,
summary {
  display: block; }

audio,
canvas,
video {
  display: inline-block; }

audio:not([controls]) {
  display: none;
  height: 0; }

[hidden] {
  display: none; }

html {
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%; }

html,
button,
input,
select,
textarea {
  font-family: sans-serif; }

body {
  margin: 0; }

a:focus {
  outline: thin dotted; }
a:hover, a:active {
  outline: 0; }

img {
  border: 0; }

svg:not(:root) {
  overflow: hidden; }

figure {
  margin: 0; }

fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em; }

legend {
  border: 0;
  padding: 0;
  white-space: normal; }

button,
input,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
  margin: 0;
  vertical-align: baseline; }

button,
input {
  line-height: normal; }

button,
select {
  text-transform: none; }

button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer; }

button[disabled],
input[disabled] {
  cursor: default; }

input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  padding: 0; }

input[type="search"] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box; }

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0; }

textarea {
  overflow: auto;
  vertical-align: top; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

/* basic scrollbar styling */
/* vertical scrollbar */
.mCSB_container {
  width: auto;
  margin-right: 20px;
  overflow: hidden; }

.mCSB_container.mCS_no_scrollbar {
  margin-right: 0; }

.mCS_disabled > .mCustomScrollBox > .mCSB_container.mCS_no_scrollbar,
.mCS_destroyed > .mCustomScrollBox > .mCSB_container.mCS_no_scrollbar {
  margin-right: 30px; }

.mCustomScrollBox > .mCSB_scrollTools {
  width: 3px;
  height: 100%;
  top: 0;
  right: 12px; }

.mCSB_scrollTools .mCSB_draggerContainer {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  height: auto; }

.mCSB_scrollTools a + .mCSB_draggerContainer {
  margin: 20px 0; }

.mCSB_scrollTools .mCSB_draggerRail {
  width: 3px;
  height: 100%;
  margin: 0 auto;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  border-radius: 30px; }

.mCSB_scrollTools .mCSB_dragger {
  cursor: pointer;
  width: 100%;
  height: 30px; }

.mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar {
  width: 3px;
  height: 100%;
  margin: 0 auto;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  border-radius: 30px;
  text-align: center; }

.mCSB_scrollTools .mCSB_buttonUp,
.mCSB_scrollTools .mCSB_buttonDown {
  display: block;
  position: relative;
  height: 20px;
  overflow: hidden;
  margin: 0 auto;
  cursor: pointer; }

.mCSB_scrollTools .mCSB_buttonDown {
  top: 100%;
  margin-top: -40px; }

/* horizontal scrollbar */
.mCSB_horizontal > .mCSB_container {
  height: auto;
  margin-right: 0;
  margin-bottom: 30px;
  overflow: hidden; }

.mCSB_horizontal > .mCSB_container.mCS_no_scrollbar {
  margin-bottom: 0; }

.mCS_disabled > .mCSB_horizontal > .mCSB_container.mCS_no_scrollbar,
.mCS_destroyed > .mCSB_horizontal > .mCSB_container.mCS_no_scrollbar {
  margin-right: 0;
  margin-bottom: 30px; }

.mCSB_horizontal.mCustomScrollBox > .mCSB_scrollTools {
  width: 100%;
  height: 16px;
  top: auto;
  right: auto;
  bottom: 0;
  left: 0;
  overflow: hidden; }

.mCSB_horizontal > .mCSB_scrollTools a + .mCSB_draggerContainer {
  margin: 0 20px; }

.mCSB_horizontal > .mCSB_scrollTools .mCSB_draggerRail {
  width: 100%;
  height: 2px;
  margin: 7px 0;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px; }

.mCSB_horizontal > .mCSB_scrollTools .mCSB_dragger {
  width: 30px;
  height: 100%; }

.mCSB_horizontal > .mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar {
  width: 100%;
  height: 4px;
  margin: 6px auto;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px; }

.mCSB_horizontal > .mCSB_scrollTools .mCSB_buttonLeft,
.mCSB_horizontal > .mCSB_scrollTools .mCSB_buttonRight {
  display: block;
  position: relative;
  width: 20px;
  height: 100%;
  overflow: hidden;
  margin: 0 auto;
  cursor: pointer;
  float: left; }

.mCSB_horizontal > .mCSB_scrollTools .mCSB_buttonRight {
  margin-left: -40px;
  float: right; }

.mCustomScrollBox {
  -ms-touch-action: none;
  /*MSPointer events - direct all pointer events to js*/ }

/* default scrollbar colors and backgrounds (default theme) */
.mCustomScrollBox > .mCSB_scrollTools {
  opacity: 1;
  filter: "alpha(opacity=100)";
  -ms-filter: "alpha(opacity=100)"; }

.mCustomScrollBox:hover > .mCSB_scrollTools {
  opacity: 1;
  filter: "alpha(opacity=100)";
  -ms-filter: "alpha(opacity=100)";
  /* old ie */ }

                                                            /*.mCSB_scrollTools .mCSB_draggerRail{
background:#000;  rgba fallback
background:rgba(0,0,0,0.4);
filter:"alpha(opacity=40)"; -ms-filter:"alpha(opacity=40)"; /* old ie */
/*}*/
.mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar {
  background: #343434;
  /* rgba fallback */
  background: #343434;
  filter: "alpha(opacity=75)";
  -ms-filter: "alpha(opacity=75)";
  /* old ie */ }

.mCSB_scrollTools .mCSB_dragger:hover .mCSB_dragger_bar {
  background: #343434;
  filter: "alpha(opacity=85)";
  -ms-filter: "alpha(opacity=85)";
  /* old ie */ }

.mCSB_scrollTools .mCSB_dragger:active .mCSB_dragger_bar,
.mCSB_scrollTools .mCSB_dragger.mCSB_dragger_onDrag .mCSB_dragger_bar {
  background: rgba(255, 255, 255, 0.9);
  filter: "alpha(opacity=90)";
  -ms-filter: "alpha(opacity=90)";
  /* old ie */ }

.mCSB_scrollTools .mCSB_buttonUp,
.mCSB_scrollTools .mCSB_buttonDown,
.mCSB_scrollTools .mCSB_buttonLeft,
.mCSB_scrollTools .mCSB_buttonRight {
  background-image: url(mCSB_buttons.png);
  background-repeat: no-repeat;
  opacity: 0.4;
  filter: "alpha(opacity=40)";
  -ms-filter: "alpha(opacity=40)";
  /* old ie */ }

.mCSB_scrollTools .mCSB_buttonUp {
  background-position: 0 0;
  /* 
  sprites locations are 0 0/-16px 0/-32px 0/-48px 0 (light) and -80px 0/-96px 0/-112px 0/-128px 0 (dark) 
  */ }

.mCSB_scrollTools .mCSB_buttonDown {
  background-position: 0 -20px;
  /* 
  sprites locations are 0 -20px/-16px -20px/-32px -20px/-48px -20px (light) and -80px -20px/-96px -20px/-112px -20px/-128px -20px (dark) 
  */ }

.mCSB_scrollTools .mCSB_buttonLeft {
  background-position: 0 -40px;
  /* 
  sprites locations are 0 -40px/-20px -40px/-40px -40px/-60px -40px (light) and -80px -40px/-100px -40px/-120px -40px/-140px -40px (dark) 
  */ }

.mCSB_scrollTools .mCSB_buttonRight {
  background-position: 0 -56px;
  /* 
  sprites locations are 0 -56px/-20px -56px/-40px -56px/-60px -56px (light) and -80px -56px/-100px -56px/-120px -56px/-140px -56px (dark) 
  */ }

.mCSB_scrollTools .mCSB_buttonUp:hover,
.mCSB_scrollTools .mCSB_buttonDown:hover,
.mCSB_scrollTools .mCSB_buttonLeft:hover,
.mCSB_scrollTools .mCSB_buttonRight:hover {
  opacity: 0.75;
  filter: "alpha(opacity=75)";
  -ms-filter: "alpha(opacity=75)";
  /* old ie */ }

.mCSB_scrollTools .mCSB_buttonUp:active,
.mCSB_scrollTools .mCSB_buttonDown:active,
.mCSB_scrollTools .mCSB_buttonLeft:active,
.mCSB_scrollTools .mCSB_buttonRight:active {
  opacity: 0.9;
  filter: "alpha(opacity=90)";
  -ms-filter: "alpha(opacity=90)";
  /* old ie */ }

/*scrollbar themes*/
/*dark (dark colored scrollbar)*/
.mCS-dark > .mCSB_scrollTools .mCSB_draggerRail {
  background: #000;
  /* rgba fallback */
  background: rgba(0, 0, 0, 0.15); }

.mCS-dark > .mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar {
  background: #000;
  /* rgba fallback */
  background: rgba(0, 0, 0, 0.75); }

.mCS-dark > .mCSB_scrollTools .mCSB_dragger:hover .mCSB_dragger_bar {
  background: rgba(0, 0, 0, 0.85); }

.mCS-dark > .mCSB_scrollTools .mCSB_dragger:active .mCSB_dragger_bar,
.mCS-dark > .mCSB_scrollTools .mCSB_dragger.mCSB_dragger_onDrag .mCSB_dragger_bar {
  background: rgba(0, 0, 0, 0.9); }

.mCS-dark > .mCSB_scrollTools .mCSB_buttonUp {
  background-position: -80px 0; }

.mCS-dark > .mCSB_scrollTools .mCSB_buttonDown {
  background-position: -80px -20px; }

.mCS-dark > .mCSB_scrollTools .mCSB_buttonLeft {
  background-position: -80px -40px; }

.mCS-dark > .mCSB_scrollTools .mCSB_buttonRight {
  background-position: -80px -56px; }

/*light-2*/
.mCS-light-2 > .mCSB_scrollTools .mCSB_draggerRail {
  width: 4px;
  background: #fff;
  /* rgba fallback */
  background: rgba(255, 255, 255, 0.1);
  -webkit-border-radius: 1px;
  -moz-border-radius: 1px;
  border-radius: 1px; }

.mCS-light-2 > .mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar {
  width: 4px;
  background: #fff;
  /* rgba fallback */
  background: rgba(255, 255, 255, 0.75);
  -webkit-border-radius: 1px;
  -moz-border-radius: 1px;
  border-radius: 1px; }

.mCS-light-2.mCSB_horizontal > .mCSB_scrollTools .mCSB_draggerRail {
  width: 100%;
  height: 4px;
  margin: 6px 0; }

.mCS-light-2.mCSB_horizontal > .mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar {
  width: 100%;
  height: 4px;
  margin: 6px auto; }

.mCS-light-2 > .mCSB_scrollTools .mCSB_dragger:hover .mCSB_dragger_bar {
  background: rgba(255, 255, 255, 0.85); }

.mCS-light-2 > .mCSB_scrollTools .mCSB_dragger:active .mCSB_dragger_bar,
.mCS-light-2 > .mCSB_scrollTools .mCSB_dragger.mCSB_dragger_onDrag .mCSB_dragger_bar {
  background: rgba(255, 255, 255, 0.9); }

.mCS-light-2 > .mCSB_scrollTools .mCSB_buttonUp {
  background-position: -32px 0; }

.mCS-light-2 > .mCSB_scrollTools .mCSB_buttonDown {
  background-position: -32px -20px; }

.mCS-light-2 > .mCSB_scrollTools .mCSB_buttonLeft {
  background-position: -40px -40px; }

.mCS-light-2 > .mCSB_scrollTools .mCSB_buttonRight {
  background-position: -40px -56px; }

/*dark-2*/
.mCS-dark-2 > .mCSB_scrollTools .mCSB_draggerRail {
  width: 4px;
  background: #000;
  /* rgba fallback */
  background: rgba(0, 0, 0, 0.1);
  -webkit-border-radius: 1px;
  -moz-border-radius: 1px;
  border-radius: 1px; }

.mCS-dark-2 > .mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar {
  width: 4px;
  background: #000;
  /* rgba fallback */
  background: rgba(0, 0, 0, 0.75);
  -webkit-border-radius: 1px;
  -moz-border-radius: 1px;
  border-radius: 1px; }

.mCS-dark-2.mCSB_horizontal > .mCSB_scrollTools .mCSB_draggerRail {
  width: 100%;
  height: 4px;
  margin: 6px 0; }

.mCS-dark-2.mCSB_horizontal > .mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar {
  width: 100%;
  height: 4px;
  margin: 6px auto; }

.mCS-dark-2 > .mCSB_scrollTools .mCSB_dragger:hover .mCSB_dragger_bar {
  background: rgba(0, 0, 0, 0.85); }

.mCS-dark-2 > .mCSB_scrollTools .mCSB_dragger:active .mCSB_dragger_bar,
.mCS-dark-2 > .mCSB_scrollTools .mCSB_dragger.mCSB_dragger_onDrag .mCSB_dragger_bar {
  background: rgba(0, 0, 0, 0.9); }

.mCS-dark-2 > .mCSB_scrollTools .mCSB_buttonUp {
  background-position: -112px 0; }

.mCS-dark-2 > .mCSB_scrollTools .mCSB_buttonDown {
  background-position: -112px -20px; }

.mCS-dark-2 > .mCSB_scrollTools .mCSB_buttonLeft {
  background-position: -120px -40px; }

.mCS-dark-2 > .mCSB_scrollTools .mCSB_buttonRight {
  background-position: -120px -56px; }

/*light-thick*/
.mCS-light-thick > .mCSB_scrollTools .mCSB_draggerRail {
  width: 4px;
  background: #fff;
  /* rgba fallback */
  background: rgba(255, 255, 255, 0.1);
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px; }

.mCS-light-thick > .mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar {
  width: 6px;
  background: #fff;
  /* rgba fallback */
  background: rgba(255, 255, 255, 0.75);
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px; }

.mCS-light-thick.mCSB_horizontal > .mCSB_scrollTools .mCSB_draggerRail {
  width: 100%;
  height: 4px;
  margin: 6px 0; }

.mCS-light-thick.mCSB_horizontal > .mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar {
  width: 100%;
  height: 6px;
  margin: 5px auto; }

.mCS-light-thick > .mCSB_scrollTools .mCSB_dragger:hover .mCSB_dragger_bar {
  background: rgba(255, 255, 255, 0.85); }

.mCS-light-thick > .mCSB_scrollTools .mCSB_dragger:active .mCSB_dragger_bar,
.mCS-light-thick > .mCSB_scrollTools .mCSB_dragger.mCSB_dragger_onDrag .mCSB_dragger_bar {
  background: rgba(255, 255, 255, 0.9); }

.mCS-light-thick > .mCSB_scrollTools .mCSB_buttonUp {
  background-position: -16px 0; }

.mCS-light-thick > .mCSB_scrollTools .mCSB_buttonDown {
  background-position: -16px -20px; }

.mCS-light-thick > .mCSB_scrollTools .mCSB_buttonLeft {
  background-position: -20px -40px; }

.mCS-light-thick > .mCSB_scrollTools .mCSB_buttonRight {
  background-position: -20px -56px; }

/*dark-thick*/
.mCS-dark-thick > .mCSB_scrollTools .mCSB_draggerRail {
  width: 4px;
  background: #000;
  /* rgba fallback */
  background: rgba(0, 0, 0, 0.1);
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px; }

.mCS-dark-thick > .mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar {
  width: 6px;
  background: #000;
  /* rgba fallback */
  background: rgba(0, 0, 0, 0.75);
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px; }

.mCS-dark-thick.mCSB_horizontal > .mCSB_scrollTools .mCSB_draggerRail {
  width: 100%;
  height: 4px;
  margin: 6px 0; }

.mCS-dark-thick.mCSB_horizontal > .mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar {
  width: 100%;
  height: 6px;
  margin: 5px auto; }

.mCS-dark-thick > .mCSB_scrollTools .mCSB_dragger:hover .mCSB_dragger_bar {
  background: rgba(0, 0, 0, 0.85); }

.mCS-dark-thick > .mCSB_scrollTools .mCSB_dragger:active .mCSB_dragger_bar,
.mCS-dark-thick > .mCSB_scrollTools .mCSB_dragger.mCSB_dragger_onDrag .mCSB_dragger_bar {
  background: rgba(0, 0, 0, 0.9); }

.mCS-dark-thick > .mCSB_scrollTools .mCSB_buttonUp {
  background-position: -96px 0; }

.mCS-dark-thick > .mCSB_scrollTools .mCSB_buttonDown {
  background-position: -96px -20px; }

.mCS-dark-thick > .mCSB_scrollTools .mCSB_buttonLeft {
  background-position: -100px -40px; }

.mCS-dark-thick > .mCSB_scrollTools .mCSB_buttonRight {
  background-position: -100px -56px; }

/*light-thin*/
.mCS-light-thin > .mCSB_scrollTools .mCSB_draggerRail {
  background: #fff;
  /* rgba fallback */
  background: rgba(255, 255, 255, 0.1); }

.mCS-light-thin > .mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar {
  width: 2px; }

.mCS-light-thin.mCSB_horizontal > .mCSB_scrollTools .mCSB_draggerRail {
  width: 100%; }

.mCS-light-thin.mCSB_horizontal > .mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar {
  width: 100%;
  height: 2px;
  margin: 7px auto; }

/*dark-thin*/
.mCS-dark-thin > .mCSB_scrollTools .mCSB_draggerRail {
  background: #000;
  /* rgba fallback */
  background: rgba(0, 0, 0, 0.15); }

.mCS-dark-thin > .mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar {
  width: 2px;
  background: #000;
  /* rgba fallback */
  background: rgba(0, 0, 0, 0.75); }

.mCS-dark-thin.mCSB_horizontal > .mCSB_scrollTools .mCSB_draggerRail {
  width: 100%; }

.mCS-dark-thin.mCSB_horizontal > .mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar {
  width: 100%;
  height: 2px;
  margin: 7px auto; }

.mCS-dark-thin > .mCSB_scrollTools .mCSB_dragger:hover .mCSB_dragger_bar {
  background: rgba(0, 0, 0, 0.85); }

.mCS-dark-thin > .mCSB_scrollTools .mCSB_dragger:active .mCSB_dragger_bar,
.mCS-dark-thin > .mCSB_scrollTools .mCSB_dragger.mCSB_dragger_onDrag .mCSB_dragger_bar {
  background: rgba(0, 0, 0, 0.9); }

.mCS-dark-thin > .mCSB_scrollTools .mCSB_buttonUp {
  background-position: -80px 0; }

.mCS-dark-thin > .mCSB_scrollTools .mCSB_buttonDown {
  background-position: -80px -20px; }

.mCS-dark-thin > .mCSB_scrollTools .mCSB_buttonLeft {
  background-position: -80px -40px; }

.mCS-dark-thin > .mCSB_scrollTools .mCSB_buttonRight {
  background-position: -80px -56px; }

section.push-none {
  left: 0px;
  right: 0px; }
section.push-rt {
  left: 265px; }
section.push-lt {
  left: -265px; }
section header {
  width: 100%;
  overflow: hidden;
  padding: 0px 15px;
  background-color: white;
  position: fixed;
  z-index: 2;
  height: 70px; }
  section header.push-none {
    left: 0px;
    right: 0px; }
  section header.push-rt {
    left: 265px; }
  section header.push-lt {
    left: -265px; }
  section header .menu {
    margin: 0px;
    padding: 0px;
    list-style-type: none; }
    section header .menu li {
      display: block;
      float: left;
      margin-right: 2.35765%;
      width: 14.70196%;
      font-weight: 600; }
      section header .menu li:last-child {
        margin-right: 0; }
      section header .menu li a {
        text-align: left;
        cursor: pointer;
        text-transform: uppercase; }
      section header .menu li.main-nav {
        @-moz-document url-prefix() {
          a {
            margin-top: -26px; } }
 }
        section header .menu li.main-nav code {
          display: block;
          margin: 24px 0px 0px; }
        section header .menu li.main-nav a {
          margin-top: -26px;
          left: 50px;
          position: absolute; }
          @media screen and (min-width: 320px) and (max-width: 480px) {
            section header .menu li.main-nav a {
              display: none; } }
      section header .menu li.rt-nav {
        text-align: right; }
        section header .menu li.rt-nav a {
          position: absolute;
          right: 50px;
          top: 28px; }
          @media screen and (min-width: 320px) and (max-width: 480px) {
            section header .menu li.rt-nav a {
              display: none; } }
        section header .menu li.rt-nav span {
          border: 3px solid black;
          padding: 3px 4px 0px;
          border-width: 0px 4px 4px;
          position: absolute;
          right: 15px;
          top: 26px;
          line-height: 16px; }
          section header .menu li.rt-nav span.active {
            border-color: #f2646d;
            color: white;
            background-color: #f2646d; }
      section header .menu li.mid-nav {
        display: block;
        float: left;
        margin-right: 2.35765%;
        width: 65.88078%;
        text-align: center;
        padding-top: 13px; }
        section header .menu li.mid-nav:last-child {
          margin-right: 0; }
section article.header-subnav {
  background: black;
  color: white;
  text-align: center;
  padding: 30px 0px; }
  section article.header-subnav nav {
    width: 47%;
    text-align: center;
    margin: 30px auto; }
    section article.header-subnav nav a:after {
      content: " / "; }
    section article.header-subnav nav a:lastchild:after {
      content: " "; }

aside {
  position: fixed;
  z-index: 1;
  left: 0px;
  background: black;
  width: 265px;
  height: 100%;
  display: block !important; }
  aside .scroller {
    height: 100%;
    padding-bottom: 50px; }
  aside.rt-side {
    left: inherit;
    right: 0px;
    width: 265px;
    z-index: 1;
    color: white; }
    aside.rt-side h3 {
      background-color: #f2646d;
      color: white;
      padding: 18px 15px; }
    aside.rt-side h4 {
      margin: 0px;
      padding: 18px 15px;
      border: 2px solid #393939;
      border-width: 2px 0px 0px;
      cursor: pointer; }
      aside.rt-side h4 code {
        float: right; }
    aside.rt-side ul {
      list-style: none;
      margin: 0px;
      padding: 15px 15px 80px; }
      aside.rt-side ul li {
        position: relative;
        padding-bottom: 20px; }
        aside.rt-side ul li h4 {
          margin: 0px;
          padding: 5px 0px;
          border: 2px solid #393939;
          border-width: 2px 0px 0px;
          cursor: pointer; }
          aside.rt-side ul li h4 code {
            float: right; }
        aside.rt-side ul li span {
          display: block;
          padding: 3px 0px; }
        aside.rt-side ul li code.icon-icons-remove {
          position: absolute;
          right: -2px;
          top: -2px;
          border: 3px solid black;
          line-height: 20px;
          color: black;
          cursor: pointer; }
  aside.rt-side-cart {
    left: inherit;
    right: -265px;
    width: 265px;
    z-index: 1;
    color: white; }
    aside.rt-side-cart h3 {
      color: white;
      padding: 18px 15px;
      background-color: #262626; }
      aside.rt-side-cart h3 code {
        float: right;
        color: #646464;
        cursor: pointer; }
    aside.rt-side-cart .mCustomScrollBox {
      width: 100%; }
    aside.rt-side-cart img {
      padding: 15px; }
    aside.rt-side-cart ul {
      list-style: none;
      margin: 0px;
      padding: 15px 15px 30px; }
      aside.rt-side-cart ul li {
        margin: 0px;
        padding: 10px 0px;
        border: 2px solid #333333;
        border-width: 2px 0px 0px;
        cursor: pointer; }
        aside.rt-side-cart ul li.disable {
          color: #333333; }
  aside.push-rt {
    right: 0px; }
  aside.lt-side code {
    color: white;
    position: absolute;
    margin: 25px 8px 0px;
    font-size: 20px;
    color: #646464; }
  aside.lt-side input {
    margin: 0px;
    color: white;
    border: 0px;
    width: 265px;
    background-color: #262626;
    padding: 25px 0px 25px 40px;
    text-transform: uppercase; }
  aside nav {
    border-bottom: 2px solid #333333;
    padding: 15px 0px;
    margin: 0px 15px; }
    aside nav.active a {
      color: white; }
    aside nav a {
      display: block;
      padding: 5px 0px 5px 25px;
      font-weight: bold;
      color: #333333; }

div.cart-holder {
  padding: 15px;
  background-color: black;
  color: white;
  position: fixed;
  z-index: 1;
  right: 0px;
  bottom: 0px;
  width: 265px; }
  div.cart-holder small {
    float: left; }
    div.cart-holder small.last-subtotal {
      float: right; }

article.banner-wrapper, article.fullsize, article.banner-ads {
  width: 100%;
  height: auto;
  position: relative;
  top: 70px; }
  article.banner-wrapper img, article.fullsize img, article.banner-ads img {
    width: 100%;
    height: 100%;
    margin-bottom: -6px; }
article.video {
  width: 100%;
  position: relative;
  z-index: 1;
  min-width: 100%;
  height: auto;
  top: 70px; }

body {
  margin: 0px;
  padding: 0px; }
  body #bodyWrapper {
    position: relative;
    overflow: hidden; }
    body #bodyWrapper section {
      display: block;
      float: left;
      margin-right: 2.35765%;
      width: 100%;
      background: white;
      position: relative; }
      body #bodyWrapper section:last-child {
        margin-right: 0; }
    body #bodyWrapper code.default-rating {
      color: #cccccc;
      cursor: pointer; }
    body #bodyWrapper code.review-selected {
      color: black !important;
      cursor: pointer; }
  @media screen and (min-width: 1024px) {
    body {
      font-size: 110%; } }
  @media screen and (min-width: 480px) and (max-width: 1024px) {
    body {
      font-size: 95%; } }
  @media screen and (min-width: 320px) and (max-width: 480px) {
    body {
      font-size: 85%; } }
  body .ct-title, body section article.mid-content-holder h2.title {
    border-bottom: 3px solid black;
    margin: 0px auto 30px;
    padding: 50px 40px 10px;
    text-transform: uppercase; }
    @media screen and (min-width: 1024px) {
      body .ct-title, body section article.mid-content-holder h2.title {
        width: 800px; } }
    @media screen and (min-width: 480px) and (max-width: 1024px) {
      body .ct-title, body section article.mid-content-holder h2.title {
        width: 600px; } }
    @media screen and (min-width: 320px) and (max-width: 480px) {
      body .ct-title, body section article.mid-content-holder h2.title {
        width: 340px; } }
  body section {
    z-index: 2; }
    body section article {
      margin: 0px;
      padding: 0px; }
      @media screen and (min-width: 320px) and (max-width: 480px) {
        body section article ul.breadcrumb {
          display: none; } }
      body section article.mid-content-holder {
        clear: both;
        margin: 0px auto !important;
        background-color: white;
        z-index: -1;
        position: relative;
        top: 70px; }
        @media screen and (min-width: 1024px) {
          body section article.mid-content-holder {
            width: 800px; } }
        @media screen and (min-width: 480px) and (max-width: 1024px) {
          body section article.mid-content-holder {
            width: 600px; } }
        @media screen and (min-width: 320px) and (max-width: 480px) {
          body section article.mid-content-holder {
            width: 100%;
            padding: 0px 20px; } }
        @media screen and (min-width: 480px) and (max-width: 640px) {
          body section article.mid-content-holder {
            width: 380px; } }
        @media screen and (min-width: 320px) and (max-width: 480px) {
          body section article.mid-content-holder h2.title {
            width: 100%; } }
        @media screen and (min-width: 480px) and (max-width: 640px) {
          body section article.mid-content-holder h2.title {
            width: 380px; } }
        body section article.mid-content-holder .footer-text {
          color: #f2f2f2;
          text-transform: uppercase;
          text-align: center;
          padding: 20px 45px 50px;
          font-style: italic; }
      body section article.filter-wrapper {
        background: white;
        position: fixed; }
        body section article.filter-wrapper .filter-holder {
          position: relative; }
          body section article.filter-wrapper .filter-holder .dropdown-holder {
            margin: 0;
            padding: 0;
            background: white;
            list-style-type: none; }
            @media screen and (min-width: 1024px) {
              body section article.filter-wrapper .filter-holder .dropdown-holder > li {
                display: block;
                float: left;
                margin-right: 2.35765%;
                width: 23.23176%;
                width: 24.999%;
                margin: 0px; }
                body section article.filter-wrapper .filter-holder .dropdown-holder > li:last-child {
                  margin-right: 0; }
                body section article.filter-wrapper .filter-holder .dropdown-holder > li:nth-child(n) {
                  margin-right: 0; }
                body section article.filter-wrapper .filter-holder .dropdown-holder > li body {
                  font-size: 150%; } }
            @media screen and (min-width: 480px) and (max-width: 1024px) {
              body section article.filter-wrapper .filter-holder .dropdown-holder > li {
                display: block;
                float: left;
                margin-right: 2.35765%;
                width: 23.23176%;
                margin-right: 0;
                width: 24.999%; }
                body section article.filter-wrapper .filter-holder .dropdown-holder > li:last-child {
                  margin-right: 0; }
                body section article.filter-wrapper .filter-holder .dropdown-holder > li body {
                  font-size: 125%; } }
            @media screen and (min-width: 320px) and (max-width: 480px) {
              body section article.filter-wrapper .filter-holder .dropdown-holder > li {
                display: block;
                float: left;
                margin-right: 2.35765%;
                width: 100%; }
                body section article.filter-wrapper .filter-holder .dropdown-holder > li:last-child {
                  margin-right: 0; }
                body section article.filter-wrapper .filter-holder .dropdown-holder > li body {
                  font-size: 99%; } }
  body .streetcred-wrapper {
    text-transform: uppercase;
    background-color: black;
    text-align: center;
    color: white;
    padding: 15px 0px 60px;
    position: relative;
    font-style: italic;
    top: 70px; }
    @media screen and (min-width: 480px) and (max-width: 1024px) {
      body .streetcred-wrapper {
        padding: 15px 0px 10px; } }
    @media screen and (min-width: 320px) and (max-width: 480px) {
      body .streetcred-wrapper {
        padding: 15px 0px 0px; } }
    body .streetcred-wrapper h1 {
      padding: 0px;
      margin: 0; }
    body .streetcred-wrapper h4 {
      padding: 0px;
      margin: -8px 0px 0px; }
    body .streetcred-wrapper ul {
      margin: 20px 0px 0px;
      padding: 0px;
      list-style-type: none;
      text-align: left; }
      body .streetcred-wrapper ul li {
        display: inline-block;
        margin: 3px 3px 0px; }
        body .streetcred-wrapper ul li img {
          width: 119px; }
          @media screen and (min-width: 480px) and (max-width: 1024px) {
            body .streetcred-wrapper ul li img {
              width: 122px; } }
          @media screen and (min-width: 320px) and (max-width: 480px) {
            body .streetcred-wrapper ul li img {
              width: 100px; } }
          @media screen and (min-width: 480px) and (max-width: 640px) {
            body .streetcred-wrapper ul li img {
              width: 113px; } }
          @media screen and (min-width: 768px) and (max-width: 1024px) {
            body .streetcred-wrapper ul li img {
              width: 113px; } }
        body .streetcred-wrapper ul li b {
          padding: 50px 26px;
          cursor: pointer;
          font-style: italic;
          position: absolute;
          margin: -119px 0px 0px; }
        @media screen and (min-width: 320px) and (max-width: 480px) {
          body .streetcred-wrapper ul li.last {
            clear: both;
            width: 100%; } }

article.img-idp-holder button code {
  margin: 0px 10px;
  position: absolute; }
article.img-idp-holder:hover .idp-sorting-wrapper ul {
  -khtml-opacity: 1;
  -moz-opacity: 1;
  -ms-filter: ”alpha(opacity=1) ”;
  filter: alpha(opacity=1);
  filter: progid:DXImageTransform.Microsoft.Alpha(opacity=1);
  opacity: 1; }
article.img-idp-holder .idp-sorting-wrapper {
  width: 100%;
  display: inline-block;
  height: 74px; }
  article.img-idp-holder .idp-sorting-wrapper button {
    padding: 28px 30px; }
  @media screen and (min-width: 1024px) {
    article.img-idp-holder .idp-sorting-wrapper ul {
      -khtml-opacity: 0;
      -moz-opacity: 0;
      -ms-filter: ”alpha(opacity=0) ”;
      filter: alpha(opacity=0);
      filter: progid:DXImageTransform.Microsoft.Alpha(opacity=0);
      opacity: 0; } }
  @media screen and (min-width: 1024px) {
    article.img-idp-holder .idp-sorting-wrapper {
      position: absolute;
      bottom: 20px;
      left: 20px;
      right: 20px; } }
  @media screen and (min-width: 480px) and (max-width: 1024px) {
    article.img-idp-holder .idp-sorting-wrapper {
      display: block;
      background: white; } }
  @media screen and (min-width: 320px) and (max-width: 480px) {
    article.img-idp-holder .idp-sorting-wrapper {
      display: block;
      background: white; } }
  article.img-idp-holder .idp-sorting-wrapper .dropdown-holder {
    display: block;
    float: left;
    margin-right: 2.35765%;
    width: 82.94039%;
    margin: 0px; }
    article.img-idp-holder .idp-sorting-wrapper .dropdown-holder:last-child {
      margin-right: 0; }
    article.img-idp-holder .idp-sorting-wrapper .dropdown-holder:nth-child(0) {
      margin-right: 0; }
    article.img-idp-holder .idp-sorting-wrapper .dropdown-holder:nth-child(0+1) {
      clear: left; }
    @media screen and (min-width: 1024px) {
      article.img-idp-holder .idp-sorting-wrapper .dropdown-holder {
        height: 78px; } }
  article.img-idp-holder .idp-sorting-wrapper button {
    display: block;
    float: left;
    margin-right: 2.35765%;
    width: 14.70196%;
    margin: 0px; }
    article.img-idp-holder .idp-sorting-wrapper button:last-child {
      margin-right: 0; }
    article.img-idp-holder .idp-sorting-wrapper button:nth-child(0) {
      margin-right: 0; }
    article.img-idp-holder .idp-sorting-wrapper button:nth-child(0+1) {
      clear: left; }
  article.img-idp-holder .idp-sorting-wrapper div.mCSB_container {
    z-index: 9 !important; }
article.fullsize .img-idp {
  position: relative;
  text-transform: uppercase; }
  article.fullsize .img-idp:hover .info {
    display: block; }
  article.fullsize .img-idp:hover .title {
    display: block; }
  article.fullsize .img-idp:hover .like {
    display: block; }
  article.fullsize .img-idp span {
    position: absolute;
    margin: 20px;
    cursor: pointer;
    text-align: center; }
    article.fullsize .img-idp span.info {
      top: 50px;
      left: 0px;
      padding: 4px;
      z-index: 1; }
      @media screen and (min-width: 1024px) {
        article.fullsize .img-idp span.info {
          display: none; } }
      @media screen and (min-width: 320px) and (max-width: 480px) {
        article.fullsize .img-idp span.info {
          bottom: 0px;
          top: inherit; } }
      article.fullsize .img-idp span.info code {
        display: block; }
      article.fullsize .img-idp span.info.hit {
        border: 3px solid black; }
    article.fullsize .img-idp span.title {
      top: 80px;
      left: 0px;
      width: 100%;
      margin: 0px;
      z-index: 0;
      cursor: default; }
      @media screen and (min-width: 1024px) {
        article.fullsize .img-idp span.title {
          display: none; } }
      @media screen and (min-width: 320px) and (max-width: 480px) {
        article.fullsize .img-idp span.title {
          top: 10px; } }
      article.fullsize .img-idp span.title i {
        display: block; }
    article.fullsize .img-idp span.like {
      top: 50px;
      right: 0px;
      padding: 4px 12px;
      z-index: 1; }
      @media screen and (min-width: 1024px) {
        article.fullsize .img-idp span.like {
          display: none; } }
      @media screen and (min-width: 320px) and (max-width: 480px) {
        article.fullsize .img-idp span.like {
          bottom: 0px;
          top: inherit; } }
      article.fullsize .img-idp span.like code {
        display: block; }
      article.fullsize .img-idp span.like.hit {
        border: 3px solid black; }
article.fullsize .sorting-wrapper {
  width: 100%;
  display: inline-block;
  height: 74px;
  background: white;
  position: fixed;
  top: 70px; }
  article.fullsize .sorting-wrapper .dropdown-holder {
    display: block;
    float: left;
    margin-right: 2.35765%;
    width: 82.94039%; }
    article.fullsize .sorting-wrapper .dropdown-holder:last-child {
      margin-right: 0; }
    article.fullsize .sorting-wrapper .dropdown-holder:nth-child(0) {
      margin-right: 0; }
    article.fullsize .sorting-wrapper .dropdown-holder:nth-child(0+1) {
      clear: left; }
  article.fullsize .sorting-wrapper button {
    display: block;
    float: left;
    margin-right: 2.35765%;
    width: 14.70196%; }
    article.fullsize .sorting-wrapper button:last-child {
      margin-right: 0; }
    article.fullsize .sorting-wrapper button:nth-child(0) {
      margin-right: 0; }
    article.fullsize .sorting-wrapper button:nth-child(0+1) {
      clear: left; }
  article.fullsize .sorting-wrapper div.mCSB_container {
    z-index: 9 !important; }
  article.fullsize .sorting-wrapper.push-none {
    left: 0px;
    right: 0px; }
  article.fullsize .sorting-wrapper.push-rt {
    left: 265px; }
  article.fullsize .sorting-wrapper.push-lt {
    left: -265px; }
article.idp-review {
  text-transform: uppercase;
  top: 70px; }
  article.idp-review .review-box {
    text-align: center;
    position: relative; }
    @media screen and (min-width: 320px) and (max-width: 480px) {
      article.idp-review .review-box {
        padding: 0px; } }
    article.idp-review .review-box div {
      font-size: 10px;
      top: 32px;
      right: 180px;
      position: absolute; }
      @media screen and (min-width: 480px) and (max-width: 1024px) {
        article.idp-review .review-box div {
          right: 135px; } }
      @media screen and (min-width: 320px) and (max-width: 480px) {
        article.idp-review .review-box div {
          top: 96px;
          right: 130px; } }
    article.idp-review .review-box input[type="text"] {
      width: 590px;
      padding: 20px 170px 20px 15px;
      margin: 10px 10px 25px 0px; }
      @media screen and (min-width: 320px) and (max-width: 480px) {
        article.idp-review .review-box input[type="text"] {
          width: 100%;
          padding: 20px 0px 80px 15px; } }
      @media screen and (min-width: 480px) and (max-width: 1024px) {
        article.idp-review .review-box input[type="text"] {
          width: 484px; } }
      @media screen and (min-width: 480px) and (max-width: 640px) {
        article.idp-review .review-box input[type="text"] {
          width: 264px; } }
    @media screen and (min-width: 320px) and (max-width: 480px) {
      article.idp-review .review-box button {
        width: 80%; } }
  article.idp-review ul {
    padding: 0px;
    list-style-type: none; }
    article.idp-review ul li {
      padding: 17px 40px; }
      @media screen and (min-width: 480px) and (max-width: 1024px) {
        article.idp-review ul li {
          padding: 17px 0px; } }
      @media screen and (min-width: 320px) and (max-width: 480px) {
        article.idp-review ul li {
          padding: 20px;
          text-align: center; } }
      article.idp-review ul li img {
        float: left;
        padding-right: 20px; }
        @media screen and (min-width: 320px) and (max-width: 480px) {
          article.idp-review ul li img {
            float: none;
            padding: 0px; } }
      article.idp-review ul li h3 {
        padding-left: 0px;
        line-height: 23px; }
      article.idp-review ul li small {
        float: left; }
        @media screen and (min-width: 320px) and (max-width: 480px) {
          article.idp-review ul li small {
            float: none; } }
    article.idp-review ul div {
      float: left; }
      article.idp-review ul div.idp-review-content {
        width: 600px; }
        @media screen and (min-width: 320px) and (max-width: 480px) {
          article.idp-review ul div.idp-review-content {
            width: 100%;
            float: none;
            text-align: center; } }
        @media screen and (min-width: 480px) and (max-width: 1024px) {
          article.idp-review ul div.idp-review-content {
            width: 500px; } }
        @media screen and (min-width: 480px) and (max-width: 640px) {
          article.idp-review ul div.idp-review-content {
            width: 280px; } }
      article.idp-review ul div.rating-mob {
        display: none; }
        @media screen and (min-width: 320px) and (max-width: 480px) {
          article.idp-review ul div.rating-mob {
            display: block;
            float: none !important; } }
        article.idp-review ul div.rating-mob code {
          font-size: 15px; }
      article.idp-review ul div.rating {
        margin: -1px 0 0 12px;
        display: block; }
        @media screen and (min-width: 320px) and (max-width: 480px) {
          article.idp-review ul div.rating {
            display: none; } }
        article.idp-review ul div.rating code {
          font-size: 15px; }
      article.idp-review ul div.clear-both {
        clear: both;
        float: none; }
article.info-description {
  background-color: black;
  color: white;
  position: absolute;
  top: 70px;
  left: 0px;
  width: 70%;
  padding: 35px 18px 20px 0px; }
  @media screen and (min-width: 320px) and (max-width: 480px) {
    article.info-description {
      width: 100%;
      top: 0px;
      height: 99% !important; } }
  @media screen and (min-width: 480px) and (max-width: 1024px) {
    article.info-description {
      width: 55%; } }
  article.info-description code {
    right: 20px;
    position: absolute;
    top: 20px;
    color: #333333;
    cursor: pointer; }
  article.info-description h2 {
    background-color: white;
    color: black;
    height: 70px;
    margin: -35px 0 15px;
    width: 100%;
    display: none;
    padding: 15px 20px; }
    @media screen and (min-width: 320px) and (max-width: 480px) {
      article.info-description h2 {
        display: block;
        width: 106%; } }
  article.info-description h3 {
    padding: 0px 20px;
    font-style: italic; }
  article.info-description p {
    padding: 0px 20px; }
  article.info-description div.desc-wrapper {
    padding-bottom: 100px; }
    @media screen and (min-width: 320px) and (max-width: 480px) {
      article.info-description div.desc-wrapper {
        padding-bottom: 50px; } }
  @media screen and (min-width: 320px) and (max-width: 480px) {
    article.info-description div.common-scroller {
      height: 460px !important; } }
article.social-links {
  background-color: black;
  color: white;
  position: absolute;
  top: 70px;
  right: 0px;
  width: 30%;
  text-align: center; }
  @media screen and (min-width: 320px) and (max-width: 480px) {
    article.social-links {
      width: 100%;
      top: 0px;
      height: 99% !important; } }
  @media screen and (min-width: 480px) and (max-width: 1024px) {
    article.social-links {
      width: 45%; } }
  article.social-links h2 {
    padding: 30px 0px;
    text-transform: uppercase; }
    @media screen and (min-width: 320px) and (max-width: 480px) {
      article.social-links h2 {
        background-color: white;
        color: black;
        text-align: left;
        padding-left: 30px; } }
    article.social-links h2 code.icon-icons-remove {
      display: none;
      position: absolute;
      right: 10px;
      top: 30px;
      cursor: pointer; }
      @media screen and (min-width: 320px) and (max-width: 480px) {
        article.social-links h2 code.icon-icons-remove {
          display: block; } }
    article.social-links h2 code.icon-icons-heart {
      color: #f2646d; }
  article.social-links ul {
    list-style-type: none;
    margin: 0px;
    padding: 0px;
    display: block;
    float: left;
    margin-right: 2.35765%;
    width: 100%; }
    article.social-links ul:last-child {
      margin-right: 0; }
    article.social-links ul li {
      display: block;
      float: left;
      margin-right: 2.35765%;
      width: 48.82117%;
      line-height: 250px;
      height: 200px;
      background-color: black;
      border: 3px solid #3c3c3c;
      border-width: 3px 1px 0px 2px;
      margin: 0px;
      Width: 50%; }
      article.social-links ul li:last-child {
        margin-right: 0; }
      article.social-links ul li:nth-child(0n) {
        margin-right: 0; }
      article.social-links ul li:nth-child(0n+1) {
        clear: left; }
      @media screen and (min-width: 320px) and (max-width: 480px) {
        article.social-links ul li {
          line-height: 200px;
          height: 150px; } }
      article.social-links ul li.bottom-line {
        border-width: 3px 1px 3px 2px; }
article.push-rt {
  left: 70%;
  position: relative; }
  @media screen and (min-width: 320px) and (max-width: 480px) {
    article.push-rt {
      left: 0px; } }
  @media screen and (min-width: 480px) and (max-width: 1024px) {
    article.push-rt {
      left: 55%; } }
article.push-lt {
  left: -30%;
  position: relative; }
  @media screen and (min-width: 320px) and (max-width: 480px) {
    article.push-lt {
      left: 0px; } }
  @media screen and (min-width: 480px) and (max-width: 1024px) {
    article.push-lt {
      left: -45%; } }
article.push-none {
  left: 0px; }

ul.img-rack {
  margin: 0px;
  padding: 0px;
  list-style-type: none;
  max-width: 90em;
  margin-left: auto;
  margin-right: auto; }
  ul.img-rack:after {
    content: "";
    display: table;
    clear: both; }
  ul.img-rack li {
    margin-bottom: 1.66666%; }
    ul.img-rack li a {
      width: 100%;
      position: relative;
      display: block;
      z-index: 1; }
      ul.img-rack li a span {
        position: absolute;
        z-index: 10;
        margin: 10px; }
        ul.img-rack li a span.new {
          top: 0px;
          left: 0px; }
        ul.img-rack li a span.name {
          bottom: 0px;
          left: 0px; }
        ul.img-rack li a span.price {
          right: 0px;
          bottom: 0px; }
        ul.img-rack li a span.like {
          top: 0px;
          right: 0px; }
    @media screen and (min-width: 1024px) {
      ul.img-rack li {
        display: block;
        float: left;
        margin-right: 2.35765%;
        width: 31.76157%; }
        ul.img-rack li:last-child {
          margin-right: 0; }
        ul.img-rack li:nth-child(3n) {
          margin-right: 0; }
        ul.img-rack li:nth-child(3n+1) {
          clear: left; }
        ul.img-rack li body {
          font-size: 150%; } }
    @media screen and (min-width: 480px) and (max-width: 1024px) {
      ul.img-rack li {
        display: block;
        float: left;
        margin-right: 2.35765%;
        width: 48.82117%; }
        ul.img-rack li:last-child {
          margin-right: 0; }
        ul.img-rack li:nth-child(2n) {
          margin-right: 0; }
        ul.img-rack li:nth-child(2n+1) {
          clear: left; }
        ul.img-rack li body {
          font-size: 125%; } }
    @media screen and (min-width: 320px) and (max-width: 480px) {
      ul.img-rack li {
        display: block;
        float: left;
        margin-right: 2.35765%;
        width: 100%; }
        ul.img-rack li:last-child {
          margin-right: 0; }
        ul.img-rack li body {
          font-size: 99%; } }

.shoe-grid-wrapper {
  position: relative;
  top: 70px; }
  .shoe-grid-wrapper h1 {
    padding: 60px 0px;
    text-transform: uppercase;
    text-align: center; }

.category-shoe-grid-wrapper {
  top: 140px;
  position: relative;
  background: white;
  z-index: -1;
  margin-bottom: 140px; }

/* this sass file is used for module placements,  should not be included in the project */
.btn_module {
  margin: 20px 0px; }
  .btn_module span {
    padding-left: 30px;
    text-transform: uppercase;
    font-style: italic; }

.css-mapping {
  margin: 0px 0px 50px;
  padding: 0px;
  list-style-type: none; }
  .css-mapping li {
    display: inline-block;
    width: 200px;
    height: 40px; }
    .css-mapping li span {
      padding-left: 5px; }

.colors {
  margin: 50px 0px;
  padding: 90px 0px;
  text-align: center;
  font-weight: 600;
  color: white;
  font-size: 1.875em;
  text-transform: uppercase; }
  .colors.black {
    background: black; }
  .colors.white {
    border: 3px solid black;
    color: black; }
  .colors.red {
    background: #f2646d; }
