* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

body {
  color: black;
  font-family: "effra", sans-serif;
  font-size: 1.25em;
  -webkit-font-smoothing: antialiased; }

h1, h2, h3, h4, h5, h6 {
  font-family: "effra", sans-serif;
  line-height: 1.5em;
  margin: 0;
  text-rendering: optimizeLegibility;
  padding-left: 40px; }

h1 {
  font-size: 3.125em; }

h2 {
  font-size: 1.875em; }

h3 {
  font-size: 1.25em;
  text-transform: uppercase; }
  h3.light {
    font-weight: 300; }
  h3.regular {
    font-weight: 400; }
  h3.medium {
    font-weight: 500; }
  h3.bold {
    font-weight: 700; }
  h3.heavy {
    font-weight: 900; }

h4 {
  font-size: 1em; }

h5 {
  font-size: 0.875em; }

h6 {
  font-size: 1.25em; }

p {
  margin: 0 0 1.40625em;
  font-size: 1.125em;
  padding: 0px 40px; }
  p.lead-in {
    font-size: 1.875em; }
  p.error-text {
    font-size: 0.75em;
    color: #f2646d;
    font-weight: bold;
    font-style: italic;
    text-transform: uppercase; }

a {
  color: black;
  text-decoration: none;
  -webkit-transition: color 0.1s linear;
  -moz-transition: color 0.1s linear;
  transition: color 0.1s linear; }
  a:hover {
    color: #f2646d; }
  a:active, a:focus {
    color: #f2646d;
    outline: none; }

hr {
  border-bottom: 1px solid #cccccc;
  border-left: none;
  border-right: none;
  border-top: none;
  margin: 1.875em 0; }

img {
  margin: 0;
  max-width: 100%; }

abbr, acronym {
  border-bottom: 1px dotted #cccccc;
  cursor: help; }

address {
  display: block;
  margin: 0 0 0.9375em; }

hgroup {
  margin-bottom: 0.9375em; }

del {
  color: #262626; }

blockquote {
  font-size: 1.875em;
  border-left: 2px solid black;
  color: black;
  margin: 1.875em 0;
  padding: 0px 0.9375em;
  margin-left: 40px;
  font-style: italic; }

cite {
  color: #404040;
  font-style: italic; }
  cite:before {
    content: '\2014 \00A0'; }

button {
  color: white;
  font-size: 1.25em;
  text-transform: uppercase !important;
  font-weight: 400;
  font-style: italic; }
  button.lr-btn {
    font-size: 1.875em; }
  button.sm-btn {
    font-size: 1em; }
  button.cancel-btn {
    color: black; }
    button.cancel-btn:hover {
      color: #cccccc; }

label {
  font-size: 1em;
  text-transform: uppercase;
  font-weight: bold;
  font-style: italic; }
  label.lblr {
    line-height: 2.06em;
    font-weight: normal; }

input[type="text"], input[type="password"] {
  font-size: 1em;
  font-weight: bold; }

div.selectBox {
  font-size: 1.1em;
  font-weight: bold;
  color: black;
  text-transform: uppercase; }
  div.selectBox span {
    line-height: 35px; }
  div.selectBox code {
    font-size: 1.25em; }
  div.selectBox .selectOptions {
    font-size: 0.75em; }

dl {
  line-height: 1.875em; }
  dl dt {
    font-weight: bold; }

ul.breadcrumb {
  text-transform: uppercase;
  font-size: 1.1em; }

.pagination {
  font-size: 1.875em;
  font-weight: bold; }

.error, .success {
  text-transform: uppercase;
  font-style: italic; }

.mid-nav {
  font-size: 2.188em; }

.header-subnav nav {
  text-transform: uppercase;
  font-weight: bold;
  font-size: 1.25em;
  line-height: 36px; }
  .header-subnav nav a {
    color: white; }
    .header-subnav nav a.active {
      color: #f2646d; }

aside nav a {
  color: white;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 1em; }

label {
  display: block; }
  label.lblr {
    float: left;
    display: inline-block;
    width: 214px; }

input[type="text"], input[type="password"] {
  border: 2px solid #cccccc;
  padding: 20px 0px 20px 15px;
  margin: 10px 0px 25px; }
  input[type="text"].error-field, input[type="password"].error-field {
    border: 2px solid #f2646d;
    background: #feeff0; }
  input[type="text"]:disabled, input[type="password"]:disabled {
    background: #e6e6e6;
    color: gray; }

p.error-text {
  margin: 0px;
  padding: 0px; }

/*
.custom-form-select {
  background: url(../../images/form_image.png) no-repeat scroll right -196px transparent;
  overflow: hidden;
  padding: 32px 24px 26px 15px;
  position: absolute;
  width: 210px;
  border: 3px solid #000000;
  color: #000000;
  font: bold 12px / 35px Helvetica, Arial, sans-serif;
  font-size: 13px;
  line-height: 0px;
  text-transform: uppercase;
}
*/
.custom-form-focused {
  background-position: right -196px; }

.custom-form-checkbox {
  float: left;
  display: block;
  width: 30px;
  height: 30px;
  margin-right: 10px;
  background: url(../../images/form_image.png) no-repeat scroll 0px 0px transparent; }
  .custom-form-checkbox.custom-form-focused {
    background-position: 0px 0px; }
  .custom-form-checkbox.custom-form-checked {
    background-position: 0px -46px; }
    .custom-form-checkbox.custom-form-checked.custom-form-focused {
      background-position: 0px -46px; }

.custom-form-radio {
  background: url(../../images/form_image.png) no-repeat scroll 0 -90px transparent;
  display: block;
  float: left;
  height: 30px;
  margin-right: 10px;
  width: 30px; }
  .custom-form-radio.custom-form-focused {
    background-position: 0px -90px; }
  .custom-form-radio.custom-form-checked {
    background-position: 0px -136px; }
    .custom-form-radio.custom-form-checked.custom-form-focused {
      background-position: 0px -136px; }

/* custom-dropdown */
.dropdown-holder {
  margin: 0;
  padding: 0;
  list-style-type: none;
  max-width: 90em;
  margin-left: auto;
  margin-right: auto; }
  .dropdown-holder:after {
    content: "";
    display: table;
    clear: both; }
  @media screen and (min-width: 1024px) {
    .dropdown-holder > li {
      display: block;
      float: left;
      margin-right: 2.35765%;
      width: 31.76157%;
      margin-right: 0; }
      .dropdown-holder > li:last-child {
        margin-right: 0; }
      .dropdown-holder > li body {
        font-size: 150%; } }
  @media screen and (min-width: 480px) and (max-width: 1024px) {
    .dropdown-holder > li {
      display: block;
      float: left;
      margin-right: 2.35765%;
      width: 31.76157%;
      margin-right: 0; }
      .dropdown-holder > li:last-child {
        margin-right: 0; }
      .dropdown-holder > li body {
        font-size: 125%; } }
  @media screen and (min-width: 320px) and (max-width: 480px) {
    .dropdown-holder > li {
      display: block;
      float: left;
      margin-right: 2.35765%;
      width: 100%; }
      .dropdown-holder > li:last-child {
        margin-right: 0; }
      .dropdown-holder > li body {
        font-size: 99%; } }

div.selectBox {
  position: relative;
  display: inline-block;
  text-align: left;
  clear: both;
  cursor: pointer;
  border: 3px solid black;
  width: 100%; }
  @media screen and (min-width: 1024px) {
    div.selectBox.rm_rt_br {
      border-right: 0px; } }
  @media screen and (min-width: 480px) and (max-width: 1024px) {
    div.selectBox.rm_rt_br {
      border-right: 0px; } }
  @media screen and (min-width: 320px) and (max-width: 480px) {
    div.selectBox.rm_rt_br {
      border-right: 3px solid black; } }
  div.selectBox span {
    width: 90%;
    border-right: none;
    overflow: hidden;
    padding: 15px 0px 15px 20px;
    height: 60px;
    position: relative;
    float: left;
    z-index: 1; }
    div.selectBox span b {
      margin: -5px 0px 0px;
      padding: 0px;
      position: relative;
      top: -7px; }
  div.selectBox code {
    background: url(../../images/form_image.png) no-repeat scroll 5px -195px;
    border-width: 3px 3px 3px 0;
    padding: 30px 27px;
    text-align: center;
    *padding-top: 6px;
    position: absolute;
    right: 0px;
    z-index: 1; }
  div.selectBox .selectOptions {
    position: absolute;
    top: 60px;
    left: -3px;
    border: 3px solid black;
    overflow-y: scroll;
    padding-top: 2px;
    display: none;
    width: 102%;
    max-height: 180px;
    background-color: white;
    z-index: 9;
    margin: 0px; }
    div.selectBox .selectOptions ul {
      list-style: none outside none;
      margin: 0;
      padding: 0px; }
      div.selectBox .selectOptions ul li {
        clear: both;
        padding: 7px 5px 7px 20px;
        overflow: hidden; }
        div.selectBox .selectOptions ul li:hover {
          background: #f5f5f5; }
      div.selectBox .selectOptions ul.img-list li {
        position: relative; }
        div.selectBox .selectOptions ul.img-list li img {
          position: absolute;
          top: 5px; }
        div.selectBox .selectOptions ul.img-list li b {
          display: block;
          line-height: 22px;
          padding: 2px 0px 0px 40px; }

/* fix select height bug on webkit browsers for Mac OS */
@media screen and (-webkit-min-device-pixel-ratio: 0) {
  select.cform {
    -webkit-appearance: menulist-button; } }
table {
  margin: 0.9375em 0;
  width: 100%; }
  table tr {
    vertical-align: middle; }
    table tr th {
      border-bottom: 3px solid black;
      font-weight: bold;
      padding: 0.9375em 15px;
      text-align: left; }
    table tr td {
      border-bottom: 2px solid #cccccc;
      padding: 0.9375em 15px; }
    table tr.odd {
      background: #e6e6e6; }
    table tr.odd td, table tr.even td {
      border-bottom: 0px; }
    table tr.horz td {
      border-left: 2px solid #cccccc; }

ul.form-field-holder, ol.form-field-holder {
  margin: 0px 0px 0px 40px;
  padding: 0px;
  list-style-type: none; }
ul.stacked-li li, ol.stacked-li li {
  display: block;
  clear: both;
  padding: 10px 0px; }
ul.inline-li li, ol.inline-li li {
  float: left;
  margin-right: 20px; }
  ul.inline-li li button, ol.inline-li li button {
    margin: 10px 0px 0px; }
ul li.empty-type, ol li.empty-type {
  list-style-type: none; }

dl {
  margin-bottom: 0.9375em; }
  dl dt {
    margin-top: 0.9375em; }
  dl dd {
    margin: 0; }

button {
  padding: 22px 30px;
  border: 0px;
  margin: 10px;
  background: black; }
  button.sm-btn {
    padding: 18px; }
  button.fl-btn {
    width: 99%;
    padding: 30px 0px; }
  button:hover, button.btn-hover {
    background: #f2646d; }
  button.cancel-btn {
    background: none; }
    button.cancel-btn:hover {
      background: none; }

ul.breadcrumb {
  margin: 10px 0px;
  padding: 7px 0px;
  list-style-type: none;
  border: 3px solid black;
  border-width: 3px 0px; }
  ul.breadcrumb li {
    padding: 8px 20px;
    display: inline-block;
    border-left: 3px solid black; }
    ul.breadcrumb li:first-child {
      border-left: 0px; }
    ul.breadcrumb li a {
      text-decoration: none; }

.pagination {
  float: left;
  position: relative;
  left: 50%;
  padding-top: 10px; }
  .pagination nav {
    float: left;
    position: relative;
    left: -50%; }
    .pagination nav a {
      padding: 8px 15px;
      display: inline-block;
      border-left: 2px solid black; }
      .pagination nav a:first-child {
        border-left: 0px; }

nav.nav-progress a {
  text-decoration: none;
  padding: 8px 25px;
  display: inline-block;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 1.875em; }
  nav.nav-progress a.active {
    color: #f2646d;
    text-decoration: underline; }

div.error, div.success {
  background: #feeff0;
  border: 2px solid #f2646d;
  color: #f2646d;
  padding: 25px 20px;
  margin: 20px 40px; }
  div.error h3, div.success h3 {
    padding: 0px 0px 8px; }
  div.error h4, div.success h4 {
    margin: 0px;
    padding: 0px 0px 3px; }
div.success {
  background: #eefcf1;
  border: 2px solid #56de79;
  color: #56de79;
  padding: 15px 20px 5px; }

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
nav,
section,
summary {
  display: block; }

audio,
canvas,
video {
  display: inline-block; }

audio:not([controls]) {
  display: none;
  height: 0; }

[hidden] {
  display: none; }

html {
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%; }

html,
button,
input,
select,
textarea {
  font-family: sans-serif; }

body {
  margin: 0; }

a:focus {
  outline: thin dotted; }
a:hover, a:active {
  outline: 0; }

img {
  border: 0; }

svg:not(:root) {
  overflow: hidden; }

figure {
  margin: 0; }

fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em; }

legend {
  border: 0;
  padding: 0;
  white-space: normal; }

button,
input,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
  margin: 0;
  vertical-align: baseline; }

button,
input {
  line-height: normal; }

button,
select {
  text-transform: none; }

button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer; }

button[disabled],
input[disabled] {
  cursor: default; }

input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  padding: 0; }

input[type="search"] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box; }

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0; }

textarea {
  overflow: auto;
  vertical-align: top; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

section.push-none {
  left: 0px;
  right: 0px; }
section.push-rt {
  left: 300px; }
section.push-lt {
  left: -300px; }
section header {
  width: 100%;
  overflow: auto; }
  section header .menu {
    margin: 0px;
    padding: 0px;
    list-style-type: none; }
    section header .menu li {
      display: block;
      float: left;
      margin-right: 2.35765%;
      width: 14.70196%; }
      section header .menu li:last-child {
        margin-right: 0; }
      section header .menu li a {
        text-align: left;
        padding: 5px;
        cursor: pointer;
        text-transform: uppercase; }
      section header .menu li.rt-nav {
        text-align: right; }
      section header .menu li.mid-nav {
        display: block;
        float: left;
        margin-right: 2.35765%;
        width: 65.88078%;
        text-align: center; }
        section header .menu li.mid-nav:last-child {
          margin-right: 0; }
section article.header-subnav {
  background: black;
  color: white;
  text-align: center;
  padding: 30px 0px; }
  section article.header-subnav nav {
    width: 47%;
    text-align: center;
    margin: 30px auto; }
    section article.header-subnav nav a:after {
      content: " / "; }
    section article.header-subnav nav a:lastchild:after {
      content: " "; }

aside {
  position: absolute;
  z-index: -1;
  left: 0px;
  background: black;
  width: 320px;
  height: 100%; }
  aside.rt-side {
    left: inherit;
    right: -15px;
    width: 300px;
    z-index: -2; }
  aside nav a {
    display: block;
    padding: 3px 0px 3px 30px; }

article.banner-wrapper, article.fullsize, article.banner-ads {
  width: 100%;
  height: auto;
  text-align: center; }
  article.banner-wrapper img, article.fullsize img, article.banner-ads img {
    width: 100%;
    height: 100%; }

body {
  margin: 0px;
  padding: 0px; }
  body #bodyWrapper {
    position: relative;
    overflow: hidden; }
    body #bodyWrapper section {
      display: block;
      float: left;
      margin-right: 2.35765%;
      width: 100%;
      background: white;
      position: relative; }
      body #bodyWrapper section:last-child {
        margin-right: 0; }
  @media screen and (min-width: 1024px) {
    body {
      font-size: 110%; } }
  @media screen and (min-width: 480px) and (max-width: 1024px) {
    body {
      font-size: 95%; } }
  @media screen and (min-width: 320px) and (max-width: 480px) {
    body {
      font-size: 75%; } }
  body .ct-title, body section article.mid-content-holder h2.title {
    border-bottom: 3px solid black;
    margin: 0px auto 30px;
    padding: 50px 40px 10px;
    text-transform: uppercase; }
    @media screen and (min-width: 1024px) {
      body .ct-title, body section article.mid-content-holder h2.title {
        width: 800px; } }
    @media screen and (min-width: 480px) and (max-width: 1024px) {
      body .ct-title, body section article.mid-content-holder h2.title {
        width: 600px; } }
    @media screen and (min-width: 320px) and (max-width: 480px) {
      body .ct-title, body section article.mid-content-holder h2.title {
        width: 340px; } }
  body section article {
    margin: 0px;
    padding: 0px; }
    body section article.mid-content-holder {
      clear: both;
      margin: 0px auto !important; }
      @media screen and (min-width: 1024px) {
        body section article.mid-content-holder {
          width: 800px; } }
      @media screen and (min-width: 480px) and (max-width: 1024px) {
        body section article.mid-content-holder {
          width: 600px; } }
      @media screen and (min-width: 320px) and (max-width: 480px) {
        body section article.mid-content-holder {
          width: 340px; } }

ul.img-rack {
  margin: 0px;
  padding: 0px;
  list-style-type: none;
  max-width: 90em;
  margin-left: auto;
  margin-right: auto; }
  ul.img-rack:after {
    content: "";
    display: table;
    clear: both; }
  ul.img-rack li {
    margin-bottom: 1.66666%; }
    ul.img-rack li a {
      width: 100%;
      position: relative;
      display: block; }
      ul.img-rack li a span {
        position: absolute;
        z-index: 10;
        margin: 20px; }
        ul.img-rack li a span.new {
          top: 0px; }
        ul.img-rack li a span.name {
          bottom: 0px; }
        ul.img-rack li a span.price {
          right: 0px;
          bottom: 0px; }
        ul.img-rack li a span.like {
          top: 0px;
          right: 0px; }
    @media screen and (min-width: 1024px) {
      ul.img-rack li {
        display: block;
        float: left;
        margin-right: 2.35765%;
        width: 31.76157%; }
        ul.img-rack li:last-child {
          margin-right: 0; }
        ul.img-rack li:nth-child(3n) {
          margin-right: 0; }
        ul.img-rack li:nth-child(3n+1) {
          clear: left; }
        ul.img-rack li body {
          font-size: 150%; } }
    @media screen and (min-width: 480px) and (max-width: 1024px) {
      ul.img-rack li {
        display: block;
        float: left;
        margin-right: 2.35765%;
        width: 48.82117%; }
        ul.img-rack li:last-child {
          margin-right: 0; }
        ul.img-rack li:nth-child(2n) {
          margin-right: 0; }
        ul.img-rack li:nth-child(2n+1) {
          clear: left; }
        ul.img-rack li body {
          font-size: 125%; } }
    @media screen and (min-width: 320px) and (max-width: 480px) {
      ul.img-rack li {
        display: block;
        float: left;
        margin-right: 2.35765%;
        width: 100%; }
        ul.img-rack li:last-child {
          margin-right: 0; }
        ul.img-rack li body {
          font-size: 99%; } }

/* this sass file is used for module placements,  should not be included in the project */
.btn_module {
  margin: 20px 0px; }
  .btn_module span {
    padding-left: 30px;
    text-transform: uppercase;
    font-style: italic; }

.css-mapping {
  margin: 0px 0px 50px;
  padding: 0px;
  list-style-type: none; }
  .css-mapping li {
    display: inline-block;
    width: 200px;
    height: 40px; }
    .css-mapping li span {
      padding-left: 5px; }

.colors {
  margin: 50px 0px;
  padding: 90px 0px;
  text-align: center;
  font-weight: 600;
  color: white;
  font-size: 1.875em;
  text-transform: uppercase; }
  .colors.black {
    background: black; }
  .colors.white {
    border: 3px solid black;
    color: black; }
  .colors.red {
    background: #f2646d; }
